{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}

{% block title %}Edit Profile - {{ this_profile.name }}{% endblock %}

{% block content %}
    <h1>Profile: {{ this_profile.name }}</h1>

    {# TODO - Add profile graph here. #}

    <h3>Profile Setpoints</h3>

    {% if this_profile_points %}
        <table class="table">
            <thead>
                <tr>
                    <th>TTL</th>
                    <th>Temperature (&deg;{{ config.TEMPERATURE_FORMAT }})</th>
                    <th></th>
                </tr>
            </thead>

            {% for this_point in this_profile_points %}
                <tr>
                    <td>{{ this_point.ttl }}</td>
                    <td>{{ this_point.temp_to_preferred }}</td>
                    <td>{% if this_profile.is_editable %}<a href="{% url 'profile_setpoint_delete' this_profile.id this_point.id %}" class="text-danger"><i class="fa fa-times fa-lg" aria-hidden="true"></i></a>{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h5>There are no setpoints configured for this profile</h5>
    {% endif %}


    <h3>Add Setpoint</h3>

    {# TODO - Rewrite this to use divs instead of tables #}
    <table class="table">
        <form action="{% url "profile_edit" this_profile.id %}" method="post">
            {% csrf_token %}
            <thead>
                <tr>
                    <th>TTL <label for="{{ form.ttl.id_for_label }}" data-toggle="tooltip" title="{{ form.ttl.help_text }}" class="col-sm-2 control-label"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i></label></th>
                    <th>Temperature (&deg;{{ config.TEMPERATURE_FORMAT }}) <label for="{{ form.temperature_setting.id_for_label }}" data-toggle="tooltip" title="{{ form.temperature_setting.help_text }}" class="col-sm-2 control-label"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i></label></th>
                    <th></th>
                </tr>
            </thead>

            {# TODO - Add form errors view #}
            <tr>
                <td>{{ form.ttl }}{# TODO - Prepopulate example text in form #}</td>
                <td>{{ form.temperature_setting }} &deg;{{ config.TEMPERATURE_FORMAT }}</td>
                <td><input type="submit" value="Add Setpoint" class="btn btn-block btn-sm btn-primary" /></td>
            </tr>
        </form>
    </table>

    {% if this_profile_points %}
        <h2>Profile (English Description)</h2>

        {% for this_line in this_profile.to_english %}
            {{ this_line }}<br>
        {% endfor %}
    {% endif %}

    <p>
        <a href="{% url "profile_delete" this_profile.id %}" type="button" class="btn btn-sm btn-danger">Delete Profile</a>
    </p>



{% endblock %}


{% block scripts %}
<script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}