{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}
{% load static %}
{% load tz %}

{% block title %}Edit Profile - {{ this_profile.name }}{% endblock %}

{% block header_scripts %}
<link href="{% static "css/dashboard_revised.css" %}" rel="stylesheet">
<link href="{% static "vendor/dygraph/css/dygraph.css" %}" rel="stylesheet">
{% endblock %}



{% block content %}
    <h1>Profile: {{ this_profile.name }}</h1>

    {% if this_profile_points %}
    <div class="row">
        <div class="col-md-9 col-sm-12" id="graphdiv3">
            <div id="profilegraph" style="width:100%; height:250px;"></div>
        </div>

        <div class="col-md-3 col-sm-12">
            <div id="label-div" style="display: none!important;"></div>

            <div class="panel panel-red">
                <div class="panel-heading">
                        <div class="chart-legend-time">
                            <div id="chartLegendTime">Time</div>
                        </div>
                </div>
                <div class="panel-body">
                        <div class="chart-legend-row row" id="beerSetRow">
                            <div class="legend-label pull-left" style="padding-left: 15px;" id="beerSetLabel">Beer Setting</div>
                            <div class="legend-value pull-right" style="padding-right: 15px;" id="beerSetValue"></div>
                        </div>
                </div>
                <div class="panel-footer"></div>

            </div>
        </div>
    </div>
    {% endif %}

    <h3>Profile Setpoints</h3>


    {% if this_profile.currently_in_use %}
        <h5 style="color:red;">Warning - This profile is currently in use. Edits to this profile will impact active fermentations!</h5>
    {% endif %}

    {% if this_profile_points %}
        <table class="table">
            <thead>
                <tr>
                    <th>TTL</th>
                    <th>Temperature (&deg;{{ config.TEMPERATURE_FORMAT }})</th>
                    <th>Date and Time</th>
                    <th>Delete Point</th>
                </tr>
            </thead>

            {% for this_point in this_profile_points %}
                <tr>
                    <td>{{ this_point.ttl }}</td>
                    <td>{{ this_point.temp_to_preferred }}</td>
                    {# TODO - fix so the date is formatted correctly we use RFC 5322 formatted date #}
                    <td>{{ this_point.ttl | durfromnow | timezone:preferred_tz | date:"r" }}</td>
                    <td><a href="{% url 'profile_setpoint_delete' this_profile.id this_point.id %}" class="text-danger"><i class="fa fa-times fa-lg" aria-hidden="true"></i></a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h5>There are no setpoints configured for this profile</h5>
    {% endif %}


    <h3>Add Setpoint</h3>

    {# TODO - Rewrite this to use divs instead of tables #}
    <table class="table">
        <form action="{% url "profile_edit" this_profile.id %}" method="post">
            {% csrf_token %}
            {{ form.errors }}
            <thead>
                <tr>
                    <th>TTL <label for="{{ form.ttl.id_for_label }}" data-toggle="tooltip" title="{{ form.ttl.help_text }}" class="col-sm-2 control-label"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i></label></th>
                    <th>Temperature (&deg;{{ config.TEMPERATURE_FORMAT }}) <label for="{{ form.temperature_setting.id_for_label }}" data-toggle="tooltip" title="{{ form.temperature_setting.help_text }}" class="col-sm-2 control-label"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i></label></th>
                    <th></th>
                </tr>
            </thead>

            {# TODO - Add form errors view #}
            <tr>
                <td>{{ form.ttl }}</td>
                <td>{{ form.temperature_setting }} &deg;{{ config.TEMPERATURE_FORMAT }}</td>
                <td><input type="submit" value="Add Setpoint" class="btn btn-block btn-sm btn-primary" /></td>
            </tr>
        </form>
    </table>

    {% if this_profile_points %}
        <h2>Profile (English Description)</h2>

        {% for this_line in this_profile.to_english %}
            {{ this_line|safe }}<br>
        {% endfor %}

        <h2>Profile (Importable)</h2>
        <pre><code>{{ this_profile.to_export|linebreaksbr }}</code></pre>
    {% endif %}

    <h3>Profile Notes</h3>

    <form action="{% url "profile_notes" this_profile.id %}" method="post">

        {% csrf_token %}
        {# TODO - Add form errors view #}
        {{ notes_form.profile_notes }}

        <p>
            <input type="submit" value="Update Notes" class="btn btn-primary" />
        </p>
    </form>


    <p>
        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal">Delete Profile</button>
        <a href="{% url "profile_copy" this_profile.id %}" type="button" class="btn btn-sm btn-primary">Copy Profile</a>
        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#renameModal">Rename Profile</button>
    </p>



    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="deleteModalLabel">Delete Fermentation Profile</h4>
          </div>
          <div class="modal-body">
            Are you sure you want to delete the temperature profile '{{ this_profile.name }}'?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Do Not Delete</button>
            <a href="{% url "profile_delete" this_profile.id %}" class="btn btn-danger">Delete Profile</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Rename Modal -->
    <div class="modal fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="renameModalLabel">
      <div class="modal-dialog" role="document">
            <form action="{% url "profile_rename" this_profile.id %}" method="post">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="renameModalLabel">Rename Fermentation Profile</h4>
          </div>
          <div class="modal-body">

                {% csrf_token %}
                {# TODO - Add form errors view #}
                New Profile Name: {{ rename_form.profile_name }}

          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close without Renaming</button>
              <input type="submit" value="Rename Profile" class="btn btn-success" />
          </div>
        </div>
        </form>

      </div>
    </div>




{% endblock %}


{% block scripts %}
<script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<script type="text/javascript">



var temp_format = "{{ config.TEMPERATURE_FORMAT }}";  // Used in formatTempText
var temp_display_format = "{{ config.DATE_TIME_FORMAT_DISPLAY }}";  // Used in formatTimeText

function formatTempText(temp) {
    // This takes the temperature that we are passed from DyGraph below and formats it in accordance with what we
    // would expect
    return temp + " " + window.temp_format;
}

function formatTimeText(time_code) {
    var date_str = "";
    var time_str = "";

    // This takes a timestamp in milliseconds from the unix epoch and converts it to something readable.
    var date_obj = new Date(time_code);

    // Break out the date part of the timestamp so we can reassemble it in the proper format
    // (Proper format is set in Constance as DATE_TIME_FORMAT_DISPLAY)
    var month = "0" + (1+date_obj.getMonth());
    var day = "0" + date_obj.getDate();
    var year = "0" + date_obj.getYear();

    if(window.temp_display_format == "mm/dd/yy") {
        date_str = month.substr(-2) + "/" + day.substr(-2) + "/" + year.substr(-2);
    } else if(window.temp_display_format == "dd/mm/yy") {
        date_str = day.substr(-2) + "/" + month.substr(-2) + "/" + year.substr(-2);
    } else if(window.temp_display_format == "yy-mm-dd") {
        date_str = year.substr(-2) + "-" + month.substr(-2) + "-" + day.substr(-2);
    }

    // Break out the time part of the timestamp so we can reassemble it in the proper format
    // TODO - Add a constance setting for time, so we can select 24 hour or AM/PM
    var hours = "0" + date_obj.getHours();
    var minutes = "0" + date_obj.getMinutes();
    var seconds = "0" + date_obj.getSeconds();

    time_str = hours.substr(-2) + ":" + minutes.substr(-2) + ":" + seconds.substr(-2);

    return date_str + " " + time_str;
}

function updateLegend(e, x, pts, row) {

    // Set the date/time in the header
    $('#chartLegendTime').text(formatTimeText(pts[0].xval));

    // Loop through the data points we have and update everything on the legend
    for(var i = 0; i < pts.length; i++) {
        if(pts[i].name == "temp") {
            $('#beerSetValue').text(formatTempText(pts[i].yval));
        }
    }
}



{#var profile_id = window.location.pathname.split("/").slice(-3)[0]; // This works, but could break if the URL format changes#}
var profile_id = "{{ this_profile.id }}";
g2 = new Dygraph(
    document.getElementById("profilegraph"),
    "/fermentation_profile/"+profile_id+"/csv/",
    {
        labelsDiv: document.getElementById('label-div'), // Technically, this is unused because of legend:never
        legend: "never",
        axisLabelFontSize: 14,
{#        displayAnnotations: true,#}
        showLabelsOnHighlight: true,
        hideOverlayOnMouseOut: false,
        animatedZooms: true,
        fillGraph: true,
        strokeWidth: 3,
        highlightCallback: updateLegend
    }  // options
);



{#    var profile_id = window.location.pathname.split("/").slice(-3)[0];#}
{#    g = new Dygraph(#}
{#    document.getElementById("profilegraph"),#}
{#    "/fermentation_profile/"+profile_id+"/csv/",#}
{#    {#}
{#      titleHeight: 32,#}
{#      strokeWidth: 3,#}
{#      ylabel: '&deg;{{ config.TEMPERATURE_FORMAT }}',#}
{#      animatedZooms: true,#}
{#      fillGraph: true#}
{#    });#}
</script>
{% endblock %}