{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}

{% block title %}List Fermentation Profiles{% endblock %}

{% block content %}
    <h1>Available Fermentation Profiles</h1>

    {% if all_profiles %}
        <table class="table">
            <thead>
                <tr>
                    <th>Profile Name</th>
                    <th>Target Points</th>
                    <th>In Use?</th>
                </tr>
            </thead>

            {% for this_profile in all_profiles %}
                <tr>
                    <td><a href="{% url 'profile_edit' this_profile.id %}">{{ this_profile.name }}</a></td>
                    <td>{{ this_profile.fermentationprofilepoint_set.all|length }}</td>
                    <td>
                        {% if this_profile.currently_in_use %}
                            <i class="fa fa-check fa-fw fa-2x text-success"></i> Yes
                        {% else %}
                            <i class="fa fa-times fa-fw text-danger"></i> No
                        {% endif %}
                    {% if this_profile.is_pending_delete %}
                        <i class="fa fa-warning fa-fw text-warning"></i> Pending Deletion
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>There are no available fermentation profiles</h2>
    {% endif %}

    <p>
        <a href="{% url "profile_new" %}" type="button" class="btn btn-sm btn-success">Create New Profile</a>
        <a href="{% url "profile_import" %}" type="button" class="btn btn-sm btn-default">Import Profile</a>
    </p>

{% endblock %}


{% block scripts %}{% endblock %}