{% load static %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Fermentrack Replacement Web Interface{% endblock %}</title>
        <meta name="description" content=""/>

        <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
        <link href="{% static "vendor/bootstrap/css/bootstrap.css" %}" rel="stylesheet"> {# TODO - Replace with bootstrap.min.css (before release) #}
        <link href="{% static "vendor/flat-ui/css/flat-ui.min.css" %}" rel="stylesheet">
        <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
        <link href="{% static "css/custom_style.css" %}" rel="stylesheet">
        <link rel="shortcut icon" href="img/favicon.ico">
        {% block header_scripts %}{% endblock %}
        <script type="text/javascript" src="{% static "vendor/dygraph/js/dygraph.min.js" %}"></script>
        <link src="{% static "vendor/dygraph/css/dygraph.css" %}" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. -->
        <!--[if lt IE 9]>
          <script src="{% static "vendor/other/js/html5shiv.js" %}"></script>
          <script src="{% static "vendor/other/js/respond.min.js" %}"></script>
        <![endif]-->
    </head>
  <body>
    <div class="container">
      <div class="row navbar-row">
        <div class="col-xs-12">
          <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="/">{{ config.BREWERY_NAME }}{# Set with Constance #}</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav navbar-left">
                  {% block navbar %}{% include 'sitewide/flat_ui_navbar_left.html' %}{% endblock %}
               </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><!-- Can you think of a better "log out" icon? I can't. --> {# TODO - Make this redirect to the current page #}
                        <a href="{% if user.is_authenticated %}{% url 'logout' %}{% else %}{% url 'login' %}{% endif %}" class="navbar-icon" style="padding-right: 10px;padding-left: 10px;">
                            {% if user.is_authenticated %}<i class="fa fa-sign-out fa-lg" title="Log Out"></i>{% else %}<i class="fa fa-sign-in fa-lg" title="Log In"></i>{% endif %}
                        </a>
                    </li>
                    <li><a href="{% url 'site_help' %}" class="navbar-icon" style="padding-right: 10px;padding-left: 10px;"><i class="fa fa-question fa-lg" title="Help"></i></a></li>
                    <li><a href="{% url 'site_settings' %}" class="navbar-icon" style="padding-right: 25px;padding-left: 10px;"><i class="fa fa-cog fa-lg" title="Site Settings"></i></a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
          </nav><!-- /navbar -->
        </div>
      </div> <!-- /row -->

      <div class="row">
        <div class="col-xs-12">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message|safe }}
                </div>
            {% endfor %}
            {% block content %}{% endblock %}
            </div>
      </div>


    </div> <!-- /container -->


    <script type="text/javascript" src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/flat-ui/js/flat-ui.min.js" %}"></script>  {# Overwrites parts of bootstrap.js #}
   {% block scripts %}{% endblock %}

  </body>
</html>
