{% if active_device %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ active_device.device_name }} <b class="caret"></b></a>
                  <span class="dropdown-arrow"></span>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'device_dashboard' active_device.id %}">Dashboard</a></li>
                    <li><a href="{% url 'device_config' active_device.id %}">Configure Control Constants</a></li>
                    <li><a href="{% url 'sensor_list' active_device.id %}">Configure Sensors/Pins/Devices</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>
{% endif %}

                <li class="dropdown">
{% if active_device %}
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Switch Device <b class="caret"></b></a>
{% else %}
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Select Device to Control <b class="caret"></b></a>
{% endif %}
                  <span class="dropdown-arrow"></span>
                  <ul class="dropdown-menu">
{% for this_device in all_devices %}
                    <li><a href="{% url 'device_dashboard' this_device.id %}">{{ this_device.device_name }}</a></li>{% endfor %}
                    <li class="divider"></li>
                    <li><a href="{% url 'device_guided_select_device' %}"><i class="fa fa-fw fa-plus"></i> Add New Device (Guided)</a></li>
                    <li><a href="{% url 'device_add' %}"><i class="fa fa-fw fa-plus"></i> Add New Device (Advanced)</a></li>
                  </ul>
                </li>
                <li><a href="{% url 'profile_list' %}">Ferm Profiles</a></li> {# TODO - Delete this once linked elsewhere #}
