{% load static %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Fermentrack Web Interface{% endblock %}</title>
        <meta name="description" content=""/>

        <meta name="apple-mobile-web-app-capable" content="yes">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script type="text/javascript">
        (function(document,navigator,standalone) {
          // prevents links from apps from oppening in mobile safari
          // this javascript must be the first script in your <head>
          if ((standalone in navigator) && navigator[standalone]) {
            var curnode, location=document.location, stop=/^(a|html)$/i;
            document.addEventListener('click', function(e) {
              curnode=e.target;
              while (!(stop).test(curnode.nodeName)) {
                curnode=curnode.parentNode;
              }
              // Condidions to do this only on links to your own app
              // if you want all links, use if('href' in curnode) instead.
              if(
                'href' in curnode && // is a link
                (chref=curnode.href).replace(location.href,'').indexOf('#') && // is not an anchor
                (	!(/^[a-z\+\.\-]+:/i).test(chref) ||                       // either does not have a proper scheme (relative links)
                  chref.indexOf(location.protocol+'//'+location.host)===0 ) // or is in the same protocol and domain
              ) {
                e.preventDefault();
                location.href = curnode.href;
              }
            },false);
          }
        })(document,window.navigator,'standalone');
        </script>
        <script src="{% static "js/compressed.js" %}" type="text/javascript" charset="utf-8"></script>

        <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "vendor/flat-ui/css/flat-ui.min.css" %}" rel="stylesheet">
        <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
        <link href="{% static "css/custom_style.css" %}" rel="stylesheet">
        <link rel="shortcut icon" href="{% static "favicon.ico" %}">
        <link rel="icon" href="{% static "favicon.ico" %}">
        <link rel="apple-touch-icon" href="{% static "apple-touch-icon.png" %}">
        <link rel="touch-icon" href="{% static "icon-hires.png" %}">      
        {% block header_scripts %}{% endblock %}
        {# TODO - Move dygraph out to only the pages that use it #}
        <script type="text/javascript" src="{% static "vendor/dygraph/js/dygraph.min.js" %}"></script>
        <link src="{% static "vendor/dygraph/css/dygraph.css" %}" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. -->
        <!--[if lt IE 9]>
          <script src="{% static "vendor/other/js/html5shiv.js" %}"></script>
          <script src="{% static "vendor/other/js/respond.min.js" %}"></script>
        <![endif]-->
    </head>

  <!-- insert Fermentrack Logo -->
      <div class="container">
      	<img src="{% static "fermentrack_banner.png" %}" title="Fermentrack Web Interface", class="transparent" style="width: 100%; float: left; border-radius: 8px;" />
      </div>
  <!-- end Fermentrack Logo -->

  <body>
    <div class="container">
      <div class="row navbar-row">
        <div class="col-xs-12">
          <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="/">{{ config.BREWERY_NAME }}{# Set with Constance #}</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav navbar-left">
                  {% block navbar %}{% include 'sitewide/flat_ui_navbar_left.html' %}{% endblock %}
               </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>{# TODO - Make this redirect to the current page #}
                        <a href="{% if user.is_authenticated %}{% url 'logout' %}{% else %}{% url 'login' %}{% endif %}" class="navbar-icon" style="padding-right: 10px;padding-left: 10px;">
                            {% if user.is_authenticated %}<i class="fa fa-sign-out fa-lg" title="Log Out"></i>{% else %}<i class="fa fa-sign-in fa-lg" title="Log In"></i>{% endif %}
                        </a>
                    </li>
                    <li><a href="{% url 'site_help' %}" class="navbar-icon" style="padding-right: 10px;padding-left: 10px;"><i class="fa fa-question fa-lg" title="Help"></i></a></li>
                    <li><a href="{% url 'site_settings' %}" class="navbar-icon" style="padding-right: 25px;padding-left: 10px;"><i class="fa fa-cog fa-lg" title="Site Settings"></i></a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
          </nav><!-- /navbar -->
        </div>
      </div> <!-- /row -->

      <div class="row">
        <div class="col-xs-12">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message|safe }}
                </div>
            {% endfor %}
            {% block content %}{% endblock %}
            </div>
      </div>


    </div> <!-- /container -->


    <script type="text/javascript" src="{% static "vendor/jquery/jquery.min.js" %}"></script>
{#    <script type="text/javascript" src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>  {# Overwrites parts of bootstrap.js #}
    <script type="text/javascript" src="{% static "vendor/flat-ui/js/flat-ui.min.js" %}"></script>  {# Overwrites parts of bootstrap.js #}
   {% block scripts %}{% endblock %}

  </body>
</html>
