{% load static %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}BrewPi-Django Replacement Web Interface{% endblock %}</title>
        <meta name="description" content=""/>

        <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet"> {# TODO - Replace with bootstrap.min.css (before release) #}
        <link href="{% static "css/flat-ui.min.css" %}" rel="stylesheet">
        <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" >
        <link href="{% static "css/custom_style.css" %}" rel="stylesheet">
        <link rel="shortcut icon" href="img/favicon.ico">
           {% block header_scripts %}{% endblock %}
          <script type="text/javascript" src="{% static "js/dygraph-combined.js" %}"></script>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
          <script src="{% static "js/vendor/html5shiv.js" %}"></script>
          <script src="{% static "js/vendor/respond.min.js" %}"></script>

        <![endif]-->
    </head>
  <body>
    <div class="container">
      <div class="row navbar-row">
        <div class="col-xs-12">
          <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="/">{{ config.BREWERY_NAME }}{# Set with Constance #}</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav navbar-left">
                  {% block navbar %}{% include 'sitewide/flat_ui_navbar_left.html' %}{% endblock %}
               </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><!-- Can you think of a better "log out" icon? I can't. -->
                        <a href="#" class="navbar-icon" style="padding-right: 10px;padding-left: 10px;"><i class="fa fa-ban fa-lg"></i></a>
                    </li>
                    <li><a href="#" class="navbar-icon" style="padding-right: 10px;padding-left: 10px;"><i class="fa fa-question fa-lg"></i></a></li>
                    <li><a href="#" class="navbar-icon" style="padding-right: 25px;padding-left: 10px;"><i class="fa fa-cog fa-lg"></i></a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
          </nav><!-- /navbar -->
        </div>
      </div> <!-- /row -->

      <div class="row">
        <div class="col-xs-12">{% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}{% block content %}{% endblock %}
            </div>
      </div>


    </div> <!-- /container -->




    {# TODO - Clean this up #}
    <script type="text/javascript" src="{% static "js/vendor/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/flat-ui.min.js" %}"></script>  {# Overwrites parts of bootstrap.js #}
{#    <script src="{% static "js/application.js" %}"></script>#}

    {% block scripts %}{% endblock %}

  </body>
</html>
