{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}{% load static %}

{% block title %}iSpindel Guided Calibration{% endblock %}

{% block header_scripts %}
{% endblock %}


{% block content %}

<h1 class="page-header">iSpindel Guided Calibration</h1>


    <h3>Final Thoughts</h3>

    <p>
        Congratulations! You have now finished gathering initial calibration points for your iSpindel device. The final
        step is to have Fermentrack use these points to determine the specific gravity equation for your iSpindel. Take
        a quick look at the points below to make sure you agree with them all, and once done click "Perform Calibration
        with Above Points" to trigger the calibration & return to the manage sensor screen.
    </p>


    <table class="table">
        <thead>
            <tr>
                <th>Step</th>
                <th>Water Addition</th>
                <th>Sugar Addition</th>
                <th>Total Water</th>
                <th>Total Sugar</th>
                <th>Plato</th>
                <th>Specific Gravity</th>
                <th>Angle (&deg;)</th>
            </tr>
        </thead>

        {% for this_step_info in all_steps_data %}
            <tr>
                <td>{{ this_step_info.step }}</td>
                <td>{{ this_step_info.water_addition }}</td>
                <td>{{ this_step_info.sugar_addition }}</td>
                <td>{{ this_step_info.cumulative_water }}</td>
                <td>{{ this_step_info.cumulative_sugar }}</td>
                <td>{{ this_step_info.plato }}</td>
                <td>{{ this_step_info.specific_gravity }}</td>
                <td>{{ this_step_info.angle }}</td>
            </tr>
        {% endfor %}
    </table>


    <a href="{% url "gravity_ispindel_calibrate" active_device.id %}" class="btn btn-primary">Perform Calibration with Above Points</a>


{% endblock %}

{% block scripts %}
<script>

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>

{% endblock %}
