{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}{% load static %}

{% block title %}iSpindel Guided Calibration{% endblock %}

{% block header_scripts %}
{% endblock %}


{% block content %}

<h1 class="page-header">iSpindel Guided Calibration</h1>


    <h3>Overview</h3>

    <p>
        Although iSpindel devices are used to measure the specific gravity of a solution during fermentation, the device
        actually measures the angle of tilt rather than the specific gravity directly. To translate between the two we
        must come up with a formula to convert angle to SG. Unfortunately for us, due to its DIY nature, every
        iSpindel device must be calibrated individually. That said, with a little bit of work it's not difficult to
        calibrate the device.
    </p>

    <p>
        This process will guide you through creating sugar/water mixtures of known specific gravity and then seeing what
        angle the iSpindel device measures in each. By the end of this process you will have collected 8 data points
        which Fermentrack will then use to derive your iSpindel's conversion function. You will need a few pieces of
        equipment to complete this process - all of which are listed out below.
    </p>


    <h3>Supplies</h3>

    <p>In order to perform this guided calibration, you will need the following supplies:</p>

    <ul>
        <li>4 lbs (2 kg) White Table Sugar</li>
        <li>Water</li>
        <li>2 cup (500 ml) measuring cup (for mixing) </li>
        <li>2+ gallon (or 6+ liter) bucket (does not need to be sanitized)</li>
        <li>iSpindel Device</li>
        <li>Gram scale</li>
    </ul>


    <h3>Setup</h3>

    {# TODO - Elaborate on this process #}
    <p>
        To speed this process up, reset your iSpindel to configuration mode and change the update frequency to 30
        seconds or faster. Don't worry - once calibration is complete, you can reset it and change it back.
    </p>

    {% if existing_points|length > 0 %}
    <p>
        One last thing before we begin --<br>
        Right now, you have a handful of existing calibration points. If you're sure these are still accurate, that's
        perfectly fine - more points help the accuracy of the calibration. If you aren't sure however, please return to
        the manage device screen and delete them before continuing. If any of these points have an identical angle or
        SG, they will be deleted automatically.
    </p>
    {% endif %}


    <div class="row">
        <div class="col-xs-12">
            <a href="{% url "gravity_ispindel_guided_calibration" active_device.id 1 %}" class="btn btn-success">Begin Guided Calibration</a>
        </div>
    </div>



{% endblock %}

{% block scripts %}
<script>

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>

{% endblock %}
