{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}{% load static %}

{% block title %}Configure Tilt{% endblock %}

{% block header_scripts %}
{% endblock %}


{% block content %}

<h1 class="page-header">Tilt Guided Calibration</h1>


    <h3>Calibration Point {{ on_step }} - Instructions:</h3>

    {% if on_step == 1 %}
        <p>
            Let's get started! Into the empty bucket add {{ this_step_data.water_addition }} grams of room temperature
            water{% if this_step_data.sugar_addition > 0 %} and {{ this_step_data.sugar_addition }} grams of sugar. Stir
            the mixture well to dissolve the sugar{% endif %}. Once done, place the Tilt in the bucket and wait for
            it to level off.
        </p>

    {% else %}
        <p>
            Next, in the glass measuring cup, add {{ this_step_data.water_addition }} grams of warm
            water{% if this_step_data.sugar_addition > 0 %} and {{ this_step_data.sugar_addition }} grams of sugar. Stir
            the mixture well to dissolve the sugar{% endif %}. Once dissolved, pour the mixture into the bucket with the
            Tilt and wait for it to level off.
        </p>

    {% endif %}

    <p>
        Once the Tilt is level and you see the gravity below has updated, type the gravity of the Tilt into the form
        and click the button to add the calibration point and move on to the next step.
    </p>

    <h3>Calibration Point {{ on_step }}:</h3>

        <form action="{% url "gravity_tilt_guided_calibration" active_device.id next_step %}" class="form-horizontal" method="post">{% csrf_token %}
        <input type="hidden" value="{{ tilt_calibration_point_form.sensor.value }}" name="{{ tilt_calibration_point_form.sensor.name }}">
        <input type="hidden" value="{{ tilt_calibration_point_form.actual_gravity.value }}" name="{{ tilt_calibration_point_form.actual_gravity.name }}">
            <div class="row">
                <div class="col-sm-2">Last Reported Tilt Gravity</div>
                <div class="col-sm-10" id="tiltGravityFeed"></div>
            </div>

            <div class="row">
                <div class="col-sm-2">Tilt Gravity</div>
                <div class="col-sm-10">{{ tilt_calibration_point_form.tilt_measured_gravity }}</div>
            </div>
            <div class="row">
                <div class="col-sm-2">Expected Gravity</div>
                <div class="col-sm-10">{{ tilt_calibration_point_form.actual_gravity.value }}</div>
            </div>

        <div class="row"><input type="submit" value="Add Calibration Point" class="btn btn-primary" /></div>

    </form>


    <h3>Guided Calibration Overview</h3>


    <table class="table">
        <thead>
            <tr>
                <th>Step</th>
                <th>Water Addition</th>
                <th>Sugar Addition</th>
                <th>Total Water</th>
                <th>Total Sugar</th>
                <th>Plato</th>
                <th>Expected Gravity</th>
                <th>Measured Gravity</th>
            </tr>
        </thead>

        {% for this_step_info in all_steps_data %}
            <tr>
                <td>{{ this_step_info.step }}</td>
                <td>{{ this_step_info.water_addition }}g</td>
                <td>{{ this_step_info.sugar_addition }}g</td>
                <td>{{ this_step_info.cumulative_water }}g</td>
                <td>{{ this_step_info.cumulative_sugar }}g</td>
                <td>{{ this_step_info.plato }}&deg;P</td>
                <td>{{ this_step_info.specific_gravity }}</td>
                <td>{{ this_step_info.tilt_gravity }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block scripts %}
<script>

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>

{# This script pulls in the "extra data" that was recorded from the Tilt & populates it on the manage page #}
<script type="text/javascript">
    (function tilt_worker() {
        $.ajax({
            type: 'GET',
            async: true,
            beforeSend: function (xhr) {
                if (xhr && xhr.overrideMimeType) {
                    xhr.overrideMimeType('application/json;charset=utf-8');
                }
            },
            dataType: 'json',
            url: '{% url 'get_tilt_extras' active_device.id %}',
            {#url: '/api/gravity/tilt/{{ active_device.id }}/',#}
            success: function(data) {
                $('#tiltGravityFeed').html(data.raw_gravity);
            },
            complete: function() {
            // Schedule the next request when the current one's complete
            setTimeout(tilt_worker, 3000);
            }
        });
    })();
</script>

{% endblock %}
