{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}
{% load static %}

{% block title %}{{ active_device.name }} Dashboard{% endblock %}

{% block header_scripts %}
<link href="{% static "css/dashboard_revised.css" %}" rel="stylesheet">
<link href="{% static "vendor/dygraph/css/dygraph.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <!-- Start Sensor Name Header -->
    <div class="row">
        <div class="col-xs-12">
                <div class="dashpanel dashpanel-top bg-carrot">
                    <div class="dash-icon dash-icon-lg" style="right: 15; left: inherit;"><i class="fa fa-tasks fa-fw"></i></div>
    {#                <div class="dashpanel-title">Beer Temp</div>#}
                    <div class="dash-data" style="text-align: left">{{ active_device.name }}</div>
                    <div class="dashpanel-divider"></div>
                    <a href="#" data-toggle="modal" data-target="#logModal">
{#            <button type="button" class="btn btn-small btn-sm btn-primary" data-toggle="modal" data-target="#logModal">Start New Beer/Log</button>#}
                        <div class="dash-desc">
                            <div class="pull-left">
                                {% if selected_log_id %}Now Viewing:{% else %}Now Fermenting:{% endif %}
                                {% if active_log %}{{ active_log.name }}{% else %}Nothing{% endif %}
                            </div>
    {#                        <div class="pull-right"><i class="fa fa-arrow-circle-right"></i></div>#}
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
        </div>

        <!--  Additional 4-column panel can go here  -->


    </div>
    <!-- End Sensor Name Header -->


    <!-- Start Dashboard Panels -->
    <div class="row">

        <div class="col-md-4 col-xs-6">
            <div class="dashpanel dashpanel-top bg-amethyst">
                <div class="dash-icon dash-icon-lg"><i class="fa fa-beer fa-fw"></i></div>
                <div class="dashpanel-title">Specific Gravity</div>
                <div class="dash-data" id="dashGravity">--</div>
                <div class="dashpanel-title" id="dashMinMaxGravity">--</div>
                
                <div class="dashpanel-divider"></div>
                {% if active_device.sensor_type == "manual" %}
                <a href="#" data-toggle="modal" data-target="#manualPointModal">
                    <div class="dash-desc">
                        <div class="pull-left">Add Data Point</div>
                        <div class="pull-right"><i class="fa fa-arrow-circle-right"></i></div>
                        <div class="clearfix"></div>
                    </div>
                </a>
                {% else %}
                <a href="{% url 'gravity_manage' active_device.id %}" data-toggle="modal">
                    <div class="dash-desc">
                        <div class="pull-left">Manage Sensor</div>
                        <div class="pull-right"><i class="fa fa-arrow-circle-right"></i></div>
                        <div class="clearfix"></div>
                    </div>
                </a>
                {% endif %}
            </div>
        </div>

        <div class="col-md-4 col-xs-6">
            <div class="dashpanel dashpanel-top bg-wet-asphalt" id="gravABVPanel">
                <div class="dash-icon dash-icon-lg"><i class="fa fa-beer fa-fw"></i></div>
                <div class="dashpanel-title">Current ABV</div>
                <div class="dash-data" id="dashABV">--%</div>
                <div class="dashpanel-title" id="dashMaxABV">--%</div>

                <div class="dashpanel-divider"></div>
                <a href="#" data-toggle="modal" data-target="#beerLogModal">
                    <div class="dash-desc" id="gravTempToggle">
                        <div class="pull-left">Load Prior Log</div>
                        <div class="pull-right"><i class="fa fa-arrow-circle-right"></i></div>
                        <div class="clearfix"></div>
                    </div>
                </a>

            </div>
        </div>        

        <div class="col-md-4 col-xs-6">
            <div class="dashpanel dashpanel-top bg-petermann" id="gravTempPanel">
                <div class="dash-icon dash-icon-lg"><i class="fa fa-thermometer-full fa-fw"></i></div>
                <div class="dashpanel-title">Temperature</div>
                <div class="dash-data" id="dashTemp">--&deg; -</div>
                <div class="dashpanel-title" id="dashTempMinMax">--</div>

                <div class="dashpanel-divider"></div>
                <a href="#" data-toggle="modal" data-target="#beerLogModal">
                    <div class="dash-desc" id="gravTempToggle">
                        <div class="pull-left">Load Prior Log</div>
                        <div class="pull-right"><i class="fa fa-arrow-circle-right"></i></div>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4 col-xs-6">
            <div class="dashpanel dashpanel-top bg-concrete">
                <div class="dash-icon dash-icon-lg"><i class="fa fa-bolt fa-fw"></i></div>
                <div class="dashpanel-title">Assigned Temp Controller</div>
                <div class="dash-data" id="dashDevice">{% if active_device.assigned_brewpi_device %}{{ active_device.assigned_brewpi_device }}{% else %}--{% endif %}</div>
                <div class="dashpanel-divider"></div>
                {% if active_device.assigned_brewpi_device %}
                <a href="#" data-toggle="modal" data-target="#detachSensorModal">
                    <div class="dash-desc">
                        <div class="pull-left" >Unassign Device</div>
                        <div class="pull-right"><i class="fa fa-arrow-circle-right"></i></div>
                        <div class="clearfix"></div>
                    </div>
                </a>
                {% else %}
                <a href="{% url 'gravity_attach' active_device.id %}">
                    <div class="dash-desc">
                        <div class="pull-left" >Assign Device</div>
                        <div class="pull-right"><i class="fa fa-arrow-circle-right"></i></div>
                        <div class="clearfix"></div>
                    </div>
                </a>

                {% endif %}

            </div>
        </div>

    </div>
    <!-- End Dashboard Panels -->

{% if active_log %}
    <!-- Begin Graph & Legend -->
    <div class="row" style="margin-bottom: 20px">
        <div class="col-md-9 col-sm-12" id="graphdiv3">
            <div id="graphdiv2" style="width:100%; height:400px;"></div>
        </div>

        <div class="col-md-3 col-sm-12">
            <div id="label-div" style="display: none!important;"></div>

            <div class="panel panel-red">
                <div class="panel-heading">
                        <div class="chart-legend-time">
                            <div id="chartLegendTime">Time</div>
                        </div>
                </div>
                <div class="panel-body">
                        <div class="chart-legend-row row" id="gravityRow">
                            <div class="legend-label pull-left" style="padding-left: 10px;" id="gravityLabel">
                                <i class="fa fa-line-chart" style="color: {{ config.GRAPH_GRAVITY_COLOR }}" id="gravity_legend" onClick="toggle_graph_visibility(this)"></i>
                                Gravity
                            </div>
                            <div class="legend-value pull-right" style="padding-right: 15px;" id="gravityValue"></div>
                        </div>

                        <div class="chart-legend-row row" id="tempRow">
                            <div class="legend-label pull-left" style="padding-left: 10px;" id="tempLabel">
                                <i class="fa fa-line-chart" style="color: {{ config.GRAPH_BEER_TEMP_COLOR }}" id="temp_legend" onClick="toggle_graph_visibility(this)"></i>
                                Temperature
                            </div>
                            <div class="legend-value pull-right" style="padding-right: 15px;" id="tempValue"></div>
                        </div>

                </div>
                <div class="panel-footer"></div>

            </div>
        </div>
    </div>
    <!-- End Graph & Legend -->


    <!-- Begin Controls -->
    <div class="row" >
        <div class="col-md-4">
            <button type="button" class="btn btn-lg btn-danger center" data-toggle="modal" data-target="#manualPointModal">Add Data Point</button>
        </div>

        <div class="col-md-4">
            <button type="button" class="btn btn-lg btn-info center" data-toggle="modal" data-target="#logModal">Control Logging</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-lg btn-success center" data-toggle="modal" data-target="#beerLogModal">Load Prior Log</button>
        </div>


    </div>
    <!-- End Controls -->
{% else %}
    <!-- No beer loaded, display "Load Beer" button -->
    <div class="row col-xs-12">
            <button type="button" class="btn btn-lg btn-success center" data-toggle="modal" data-target="#tempControl{{ active_device.id }}">Load Past Log</button>
    </div>


{% endif %}

    <!-- Log Modal -->
    <div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="logModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
{% if active_device.assigned_brewpi_device %}
    {# Modal for when there is an attached device #}
                <h4 class="modal-title" id="logModalLabel" style="color: #000;">Attached to Device</h4>
            </div>


            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <p>
                            This specific gravity sensor is currently attached to a temperature controller. While
                            attached, the sensor cannot be independently controlled & will match the temperature
                            controller's logging status.
                        </p>

                        <p>
                            Use the links below to view the temperature controller's dashboard or detach the sensor from
                            the temperature controller.
                        </p>

                        <a href="{% url 'device_dashboard' active_device.assigned_brewpi_device.id %}" class="btn btn-small btn-sm btn-default">View Temperature Controller</a>
                        <button type="button" class="btn btn-small btn-sm btn-warning" data-toggle="modal" data-target="#detachSensorModal">Detach from Controller</button>

                    </div>
                </div>
              </div>
            </div>

{% elif not active_device.active_log %}
    {# Modal for when nothing is logging (start logging) -- and we aren't attached to a temperature controller #}
                <h4 class="modal-title" id="logModalLabel" style="color: #000;">Start Logging</h4>
            </div>


            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <form action="{% url "gravity_log_create" active_device.id %}" method="post" >{% csrf_token %}

                            {% form_generic log_create_form.log_name %}

                            <input type="hidden" name="device" value="{{ active_device.id }}">
                            <button type="submit" class="btn btn-large btn-primary">Create Log & Start Logging</button>
                        </form>
                    </div>
                </div>
              </div>
            </div>
{% else %}
    {# Modal for when logging is active (pause/end buttons) #}
                <h4 class="modal-title" id="logModalLabel" style="color: #000;">Beer Logging Control</h4>
            </div>


            <div class="modal-body">
              <div class="container-fluid">
                <div class="row col-xs-12">
                    Now Fermenting: {{ active_device.active_log }}
                </div>

                <div class="row col-xs-12">
                    <a href="{% url 'gravity_log_stop' active_device.id %}" class="btn btn-small btn-sm btn-danger">End Logging & Finalize Beer</a>
                </div>
              </div>
            </div>
{% endif %}


            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>
    <!-- End Log Modal -->



    <!-- Manual Point Modal -->
    <div class="modal fade" id="manualPointModal" tabindex="-1" role="dialog" aria-labelledby="manualPointModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="manualPointModalLabel" style="color: #000;">Add Manual Log Point</h4>
            </div>


            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <form action="{% url "gravity_add_point" active_device.id %}" class="form-horizontal" method="post">{% csrf_token %}
                                <h3 class="form-header">Point Details</h3>

                                {% form_generic manual_add_form.gravity %}
                                {% form_generic manual_add_form.temp %}
                                {% form_generic manual_add_form.temp_format %}
                                {% form_generic manual_add_form.temp_is_estimate %}
                                {% form_generic manual_add_form.extra_data %}
                                <input type="hidden" name="redirect" value="dashboard">
                                <input type="submit" value="Save Point" class="btn btn-primary"/>
                        </form>

                    </div>
                </div>
              </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>
    <!-- Manual Point Modal -->






    <!-- Log Modal -->
    <div class="modal fade" id="beerLogModal" tabindex="-1" role="dialog" aria-labelledby="beerLogModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="beerLogModalLabel" style="color: #000;">Available Beer Logs</h4>
            </div>


            <div class="modal-body">
              <div class="container-fluid">
                <div class="row col-xs-12">
                    Select a log to load/view
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        {% for this_log in available_logs %}
                            <a href="{% url 'gravity_dashboard_log' active_device.id this_log.id %}">{{ this_log.name }}</a><br>
                        {% endfor %}
                    </div>
                </div>

                {% if selected_log_id %}
                <div class="row">
                    <div class="col-xs-12">
                        <a href="{% url 'gravity_dashboard' active_device.id %}" class="btn btn-lg btn-success">Return to Active Log</a>
                    </div>
                </div>
                {% endif %}

              </div>
            </div>


            <div class="modal-footer">
                <a href="{% url 'gravity_log_list' %}" class="btn btn-primary">Manage Logs</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>
    <!-- End Log Modal -->

    
{% if active_device.assigned_brewpi_device %}
    <!-- Detach Sensor Modal -->
    <div class="modal fade" id="detachSensorModal" tabindex="-1" role="dialog" aria-labelledby="detachSensorModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="detachSensorModalLabel" style="color: #000;">Detach Sensor from Controller</h4>
            </div>


            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">

                        <p>
                            This sensor is currently attached to the <b>{{ active_device.assigned_brewpi_device }}</b>
                            temperature controller and {% if active_device.active_log %}is{% else %}is not{% endif %}
                            currently logging.
                        </p>


{#                    <form action="{% url "gravity_detach" active_device.id %}" class="form-horizontal" method="post">{% csrf_token %}#}
                    {% if active_device.active_log %}
                        <p>
                            Detaching this sensor from the controller will stop the active log on both the temperature
                            sensor as well as the specific gravity sensor and finalize the log files. While the sensor
                            can be reassigned to the temperature controller, you will NOT be able to resume the
                            stopped log.
                        </p>
                    {% endif %}


                        <a href="{% url 'gravity_detach' active_device.id %}" class="btn btn-small btn-sm btn-warning">Detach from Controller</a>

{#                            <input type="submit" value="Save Point" class="btn btn-primary"/>#}
{#                        </form>#}

                    </div>
                </div>
              </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>
    <!-- Detach Sensor Modal -->
{% endif %}
    


{#{% temp_control_modal active_device %}#}


<div class="result" id="results"></div>
{% endblock %}


{% block scripts %}

{% if active_log %}

<script type="text/javascript" src="{% static "vendor/moment/moment.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/moment-timezone/moment-timezone-with-data-2012-2022.js" %}"></script>

<script type="text/javascript">

var temp_format = "{{ active_log.format }}";  // Used in formatTempText
var temp_display_format = "{{ temp_display_format }}";  // Used in formatTimeText

function formatTempText(temp) {
    // This takes the temperature that we are passed from DyGraph below and formats it in accordance with what we
    // would expect
    return temp + " " + window.temp_format;
}

function formatGravText(gravity) {
    // This does nothing, but provides an easy place to change the format later if we want
    return gravity;
}

function formatTimeText(time_code) {
    var date_str = "";
    var time_str = "";

    // This takes a timestamp in milliseconds from the unix epoch and converts it to something readable.
    var date_obj = new Date(time_code);

    // Break out the date part of the timestamp so we can reassemble it in the proper format
    // (Proper format is set in Constance as DATE_TIME_FORMAT_DISPLAY)
    var month = "0" + (1+date_obj.getMonth());
    var day = "0" + date_obj.getDate();
    var year = "0" + date_obj.getYear();

    if(window.temp_display_format == "mm/dd/yy") {
        date_str = month.substr(-2) + "/" + day.substr(-2) + "/" + year.substr(-2);
    } else if(window.temp_display_format == "dd/mm/yy") {
        date_str = day.substr(-2) + "/" + month.substr(-2) + "/" + year.substr(-2);
    } else if(window.temp_display_format == "yy-mm-dd") {
        date_str = year.substr(-2) + "-" + month.substr(-2) + "-" + day.substr(-2);
    }

    // Break out the time part of the timestamp so we can reassemble it in the proper format
    // TODO - Add a constance setting for time, so we can select 24 hour or AM/PM
    var hours = "0" + date_obj.getHours();
    var minutes = "0" + date_obj.getMinutes();
    var seconds = "0" + date_obj.getSeconds();

    time_str = hours.substr(-2) + ":" + minutes.substr(-2) + ":" + seconds.substr(-2);

    return date_str + " " + time_str;
}

function updateLegend(e, x, pts, row) {

    // Set the date/time in the header
    $('#chartLegendTime').text(formatTimeText(pts[0].xval))

    // Loop through the data points we have and update everything on the legend
    for(var i = 0; i < pts.length; i++) {
        if(pts[i].name == "gravity") {
            $('#gravityValue').text(formatGravText(pts[i].yval))
        } else if(pts[i].name == "temp") {
            $('#tempValue').text(formatTempText(pts[i].yval))
        }
    }
}

var g_currentGravity = 0;
g2 = new Dygraph(
    document.getElementById("graphdiv2"),
    {#  TODO - Something here if active log isn't set #}
    "{{ log_file_url }}", // path to CSV file
    {
{#        labels: [{{ column_headers|safe }}],#}
        labelsDiv: document.getElementById('label-div'), // Technically, this is unused because of legend:never
        legend: "never",
        axisLabelFontSize: 14,
        displayAnnotations: true,
        showLabelsOnHighlight: true,
        hideOverlayOnMouseOut: false,
        series: {
            'temp': {
                axis: 'y2'
            },
        },
        axes: {
            y: {
                digitsAfterDecimal: 3
            },
            y2: {
                digitsAfterDecimal: 1
            }
        },

        xValueParser: function(x) { // This will implicitly convert the data we have stored (in UTC) to local (browser) time
            var m = moment.tz(x, "YYYY/MM/DD HH:mm:ssZ", "UTC");
            return m.valueOf();
        },
        colors: ["{{ config.GRAPH_GRAVITY_COLOR }}", "{{ config.GRAPH_BEER_TEMP_COLOR }}"],
        highlightCallback: updateLegend
    }  // options
);

function update_ABV() {
    var packed = g2.gatherDatasets_(g2.rolledSeries_, null); 
    var extremes = packed.extremes; 
    var tempExtremes = extremes["temp"];
    var gravityExtremes = extremes["gravity"];

    var gravityMin = gravityExtremes[0]
    var gravityMax = gravityExtremes[1];
    // show the min/max
    $('#dashMinMaxGravity').html("low: " + gravityMin.toFixed(3) + " high: " + gravityMax.toFixed(3));
    
    // Calculate ABV based on this min max. It looks like Tilt's google spreadsheet does it by taking the current gravity and comparing it to the max. Not sure which is best...
    if (g_currentGravity > 0) {
        var abv = (gravityMax - g_currentGravity)*1.3125*100.0;
        $('#dashABV').html(abv.toFixed(1) + "%");
    } else {
        $('#dashABV').html("-%");
    }
    var maxAbv = (gravityMax - gravityMin)*1.3125*100.0;

    if (maxAbv > 0) {
        // add the apparent attenuation too
        var aa = (gravityMax - g_currentGravity) / (gravityMax - 1.0) * 100;
        $('#dashMaxABV').html("aa: " + aa.toFixed(2) + "% high: " + maxAbv.toFixed(1) + "% ABV");
    } else {        
        $('#dashMaxABV').html("");
    }

    $('#dashTempMinMax').html("min: " + tempExtremes[0].toFixed(2) + " max: " + tempExtremes[1].toFixed(2))

}

function pull_and_update_annotations() {
     $.ajax({
        type: 'GET',
        async: true,
        beforeSend: function (xhr) {
            if (xhr && xhr.overrideMimeType) {
                xhr.overrideMimeType('application/json;charset=utf-8');
            }
        },
        dataType: 'json',
        url: '{% if active_log %}{% url 'gravity_almost_json_view' active_device.id active_log.id %}{% else %}fake.json{% endif %}', {# Load the json for the annotations from the helper-wrapper #}
        success: function(data) {
            g2.setAnnotations(data);
            update_ABV();
        },
    });





};


g2.ready(function () {
    pull_and_update_annotations();
    update_ABV();
});

var gravity_visible = true;
var temp_visible = true;

function toggle_graph_visibility(el) {
    if(el.id == "gravity_legend") {
        gravity_visible = !gravity_visible;
        g2.setVisibility(0, gravity_visible);

    } else if(el.id == "temp_legend") {
        temp_visible = !temp_visible;
        g2.setVisibility(1, temp_visible);

    }
}



</script>
{% endif %}{# No reason to load the DyGraph javascript if we don't have a beer loaded #}


<script type="text/javascript">

(function panel_worker() {
    $.ajax({
        type: 'GET',
        async: true,
        beforeSend: function (xhr) {
            if (xhr && xhr.overrideMimeType) {
                xhr.overrideMimeType('application/json;charset=utf-8');
            }
        },
        dataType: 'json',
        url: '/api/gravity/{{ active_device.id }}/',
        success: function(data) {
            // Update the gravity reading in the dashboard as new readings are available
            g_currentGravity = data[0].current_gravity;
            if(g_currentGravity>0) {
                $('#dashGravity').html(g_currentGravity);
            } else {
                $('#dashGravity').html("-.---");
            }
            // Also update the temperature
            $('#dashTemp').html(data[0].temp_string);

            update_ABV();
        },
        complete: function() {
        // Schedule the next request when the current one's complete
        setTimeout(panel_worker, 5000);
        }
    });
})();


</script>

{% endblock %}





