{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}
{% load static %}

{# TODO - Refactor this so that it can be picked up & reused within siteroot.html. No reason to repeat this. #}

{% block title %}All Controllers{% endblock %}

{% block header_scripts %}
<link href="{% static "css/dashboard_revised.css" %}" rel="stylesheet">
{% endblock %}


{% block content %}
<h1>Gravity Sensors</h1>
{% if not all_devices %}
No gravity sensors have been configured yet. To get started, add a new sensor:
    <ul>
        <li><a href="{% url 'gravity_add_board' %}">Add new gravity sensor</a></li>
    </ul>
{% else %}
    <!-- Start vue Sensor container -->
    <div id="gravapp">

        <!-- Start vue Sensor loop div -->
        <div v-for="sensor in sensors">

            <!-- Start row for Sensor -->
            <div class="row">



                <!-- Start Sensor Name Header -->
                <div class="col-lg-4 col-md-6">
                    <a v-bind:href="sensor.device_url">
                        <div class="dashpanel dashpanel-top bg-carrot">
                            <div class="dash-icon dash-icon-lg" style="right: 15; left: inherit;"><i class="fa fa-tasks fa-fw"></i></div>
                            {# Vue.js uses the same template tags ({{ and }}) as does Django. Use verbatim to escape. #}
                            <div class="dash-data" style="text-align: left">Device: {% verbatim %}{{ sensor.device_name }}{% endverbatim %}</div>
                            <div class="dashpanel-divider"></div>
                                <div class="dash-desc">
                                    <div class="pull-left" v-if="sensor.bound_device.id"> Bound To: {% verbatim %}{{ sensor.bound_device.name }}{% endverbatim %}</div>
                                    <div class="pull-left" v-else> Currently Unbound</div>
                                    <div class="pull-right"><i class="fa fa-arrow-circle-right"></i></div>
                                    <div class="clearfix"></div>
                                </div>
                        </div>
                    </a>
                </div>
                <!-- End Sensor Name Header -->


                <!-- Start Gravity Display Box -->
                <div class="col-lg-4 col-md-6" style="text-align: center">
                    <a v-bind:href="sensor.device_url">
                        <div class="dashpanel dashpanel-top bg-amethyst">
                            <div class="dash-icon dash-icon-lg" style="right: 15; left: inherit;"><i class="fa fa-tasks fa-fw"></i></div>
                            {# Vue.js uses the same template tags ({{ and }}) as does Django. Use verbatim to escape. #}
                            <div class="dash-data" style="text-align: left">Current Gravity: {% verbatim %}{{ sensor.current_gravity }}{% endverbatim %}</div>
                            <div class="dashpanel-divider"></div>
                                <div class="dash-desc">
                                    <div class="pull-left"> View Dashboard</div>
                                    <div class="pull-right"><i class="fa fa-arrow-circle-right"></i></div>
                                    <div class="clearfix"></div>
                                </div>
                        </div>
                    </a>
                </div>
                <!-- End Gravity Display Box -->

                <!-- Start Temperature Display Box -->
                <div class="col-lg-4 col-md-6" style="text-align: center">
                    <a v-bind:href="sensor.manage_url">
                        <div class="dashpanel dashpanel-top bg-concrete">
                            <div class="dash-icon dash-icon-lg" style="right: 15; left: inherit;"><i class="fa fa-tasks fa-fw"></i></div>
                            {# Vue.js uses the same template tags ({{ and }}) as does Django. Use verbatim to escape. #}
                            <div class="dash-data" style="text-align: left">Current Temp: {% verbatim %}{{ sensor.temp_string }}{% endverbatim %}</div>
                            <div class="dashpanel-divider"></div>
                                <div class="dash-desc">
                                    <div class="pull-left"> {% verbatim %}{{ sensor.manage_text }}{% endverbatim %}</div>
                                    <div class="pull-right"><i class="fa fa-arrow-circle-right"></i></div>
                                    <div class="clearfix"></div>
                                </div>
                        </div>
                    </a>
                </div>
                <!-- End Sensor Display Box -->

                <!-- Start Mode Control Box -->
{#                <div class="col-lg-3 col-md-6">#}
{#                    <a href="#" data-toggle="modal" v-bind:data-target="sensor.modal_name">#}
{#                        <div class="dashpanel dashpanel-top bg-concrete" style="height: 125px">#}
{#                            <div class="dash-icon dash-icon-lg"><i class="fa fa-bolt fa-fw"></i></div>#}
                            {# TODO - Get this to show the actual temperature control mode #}
{#                            <div class="dash-data">Control Mode</div>#}
{#                            <div class="dashpanel-divider"></div>#}
{#                                <div class="dash-desc">#}
{#                                    <div class="pull-left" >Set Mode</div>#}
{#                                    <div class="pull-right"><i class="fa fa-arrow-circle-right"></i></div>#}
{#                                    <div class="clearfix"></div>#}
{#                                </div>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
                <!-- End Mode Control Box -->
            </div> <!-- End row for Sensor -->
        </div> <!-- End vue Sensor loop div -->
    </div> <!-- End vue application container -->

<a href="{% url 'gravity_add_board' %}">Add Gravity Sensor</a>

{# Add all the modals for controlling temperatures #}
{#{% for this_device in all_devices %}#}
{#{% temp_control_modal this_device %}#}
{#{% endfor %}#}
{% endif %}

{% endblock %}


{% block scripts %}
{% load static %}
    {# vue.min.js is in fermentrack #}
    <script type="text/javascript" src="{% static "vendor/vue/js/vue.min.js" %}"></script>
    {# Gravity.js is in the gravity app #}
    <script type="text/javascript" src="{% static "js/gravity.js" %}"></script>
{% endblock %}