{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}{% load static %}

{% block title %}Select Sensor Family{% endblock %}

{% block header_scripts %}
{% endblock %}


{% block content %}

<h1 class="page-header">Select Sensor Type</h1>


    <p>
        There are several different types of specific gravity sensors that are available for use with Fermentrack.
        Please select the sensor family that you are attempting to set up.
    </p>

     {% if manual_form.non_field_errors %}
        <div class="alert alert-danger"> {% for error in manual_form.non_field_errors %}{{ error }}{% endfor %}</div>
     {% endif %}
     {% if tilt_form.non_field_errors %}
        <div class="alert alert-danger"> {% for error in tilt_form.non_field_errors %}{{ error }}{% endfor %}</div>
     {% endif %}
     {% if ispindel_form.non_field_errors %}
        <div class="alert alert-danger"> {% for error in ispindel_form.non_field_errors %}{{ error }}{% endfor %}</div>
     {% endif %}


    <!-- Accordion Selector -->

    <div class="panel-group" id="family-selector">
        <!-- Manual 'Sensor' -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#family-selector" href="#sensor-manual">
                        <div class="row vertical-align">
                            <div class="col-xs-1 family-logo">
                                <i class="fa fa-pencil-square fa-5x"></i>
                            </div>
                            <div class="col-xs-11">
                                <div class="family-name">Manual Sensor</div>
                            </div>
                        </div>
                    </a>
                </h4>
            </div>

            <div id="sensor-manual" class="panel-collapse collapse">
                <div class="panel-body">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            Use this to track specific gravity readings you take in ways that don't automatically
                            integrate with Fermentrack. Hydrometers, refractometers, pycnometers - all are welcome.
                        </div>
                    </div>
                    <form action="{% url "gravity_add_board" %}" class="form-horizontal" method="post">{% csrf_token %}
                        <input type="hidden" name="sensor_family" value="manual">

                        <div class="row col-xs-12">{% form_generic manual_form.name %}</div>
                        <div class="row col-xs-12">{% form_generic manual_form.temp_format %}</div>
                        <div class="row col-xs-12"><input type="submit" value="Create Sensor" class="btn btn-primary" /></div>
                    </form>

                </div>
            </div>
        </div>
        <!-- End Manual 'Sensor' -->


        <!-- Tilt Hydrometer -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#family-selector" href="#sensor-tilt">
                        <div class="row vertical-align">
                            <div class="col-xs-1 family-logo">
{#                                <i class="fa fa-pencil-square fa-5x"></i>#}
                                <img style="width: 80px;height:80px" src="{% static 'img/tilt_logo.jpg' %}">
                            </div>
                            <div class="col-xs-11">
                                <div class="family-name">Tilt Hydrometer</div>
                            </div>
                        </div>
                    </a>
                </h4>
            </div>

            <div id="sensor-tilt" class="panel-collapse collapse">
                <div class="panel-body">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            Use this to set Fermentrack up to interact with <a href="https://tilthydrometer.com/">Tilt Hydrometers</a>.
                            Tilt Hydrometers are an automatic, wireless specific gravity sensor and will provide a
                            continuous stream of specific gravity data to Fermentrack allowing you to graph the progress
                            as your beer ferments.

                            Fermentrack also supports the use of the
                            <a href="http://www.tiltbridge.com/">TiltBridge</a> Bluetooth-to-WiFi bridge if present.
                        </div>
                    </div>
                    <form action="{% url "gravity_add_board" %}" class="form-horizontal" method="post">{% csrf_token %}
                        <input type="hidden" name="sensor_family" value="tilt">

                        <div class="row col-xs-12">{% form_generic tilt_form.name %}</div>
                        <div class="row col-xs-12">{% form_generic tilt_form.temp_format %}</div>
                        <div class="row col-xs-12">{% form_generic tilt_form.color %}</div>

                        <div class="row col-xs-12">{% form_generic tilt_form.connection_type %}</div>

                        <div id="tiltBridgeHidden" style="display: block">
                        {% if tilt_form.get_tiltbridge_choices|length %}
                            <div class="row col-xs-12">{% form_generic tilt_form.tiltbridge %}</div>
                        {% else %}
                            <div class="row"><div class="col-sm-2"></div><div class="col-sm-10">No TiltBridges have been added to Fermentrack. Click the link below to add a new TiltBridge device.</div></div>
                        {% endif %}
                            <div class="row"><div class="col-sm-2"></div><div class="col-sm-10"><a href="{% url "gravity_tiltbridge_add" %}">Add New TiltBridge</a></div></div>
                        </div>

                        <div class="row col-xs-12"><input type="submit" value="Create Sensor" class="btn btn-primary" /></div>
                    </form>

                </div>
            </div>

        </div>
        <!-- End Tilt Hydrometer -->


        <!-- iSpindel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#family-selector" href="#sensor-ispindel">
                        <div class="row vertical-align">
                            <div class="col-xs-1 family-logo">
                                <i class="fa fa-microchip fa-5x"></i>
                            </div>
                            <div class="col-xs-11">
                                <div class="family-name">iSpindel</div>
                            </div>
                        </div>
                    </a>
                </h4>
            </div>

            <div id="sensor-ispindel" class="panel-collapse collapse">
                <div class="panel-body">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            Use this to set Fermentrack up to interact with
                            <a href="https://github.com/universam1/iSpindel">iSpindel devices</a>.

                            The iSpindel is a DIY gravity sensing device which implies the specific gravity of your beer
                            by measuring the change in tilt of the device as it ferments. These devices provide a
                            constant stream of information on your beer's fermentation progress allowing Fermentrack to
                            graph the progress as your beer ferments.
                        </div>
                    </div>
                    <form action="{% url "gravity_add_board" %}" class="form-horizontal" method="post">{% csrf_token %}
                        <input type="hidden" name="sensor_family" value="ispindel">

                        <div class="row col-xs-12">{% form_generic ispindel_form.name %}</div>
                        <div class="row col-xs-12">{% form_generic ispindel_form.temp_format %}</div>
                        <div class="row col-xs-12">{% form_generic ispindel_form.name_on_device %}</div>

                        <p>After clicking "Create Sensor" you will need to connect to the iSpindel device itself and
                        configure it to communicate with Fermentrack.</p>

                        <div class="row col-xs-12"><input type="submit" value="Create Sensor" class="btn btn-primary" /></div>
                    </form>

                </div>
            </div>

        </div>
        <!-- End iSpindel -->

    </div>


{% endblock %}

{% block scripts %}
<script>

function TiltBridgeHide() {
    if(document.getElementById('id_connection_type').value != "Bridge") {
         document.getElementById('tiltBridgeHidden').style.display = 'none';
    } else {
         document.getElementById('tiltBridgeHidden').style.display = '';
    }
}

window.onload = function() {
    document.getElementById('id_connection_type').onchange = TiltBridgeHide;

    {# Above we have the code to handle the toggling as the user completes the form, here we're going to unhide as part of creating the form itself #}
    TiltBridgeHide();
};


$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>

{% endblock %}
