Django>=1.10,<1.11
configobj       # required by brewpi.py
psutil>=2.0     # required by BrewPiProcess.py
simplejson      # required by brewpi.py
pytz            # required by manage.py migrate
# TODO - Clean this up (before release)
#django-suit
#fabric
raven           # OPTIONAL - used for debugging
-e git://github.com/darklow/django-suit.git@v2#egg=django-suit  # Makes the admin site pretty
django-constance[database]  # for managing user-configured constants
GitPython                   # for managing git integration
zeroconf        # For locating ESP8266 devices
