Django>=1.11,<1.12
configobj       # required by brewpi.py
simplejson      # required by brewpi.py
pytz            # required by manage.py migrate
#raven           # OPTIONAL - used for debugging
django-constance[database]  # for managing user-configured constants
GitPython                   # for managing git integration
zeroconf<0.20        # for locating ESP8266 devices
circus          # for managing Fermentrack wsgi & brewpi.py processes
#circus-web      # for managing Fermentrack wsgi & brewpi.py processes
chaussette      # for managing Fermentrack wsgi
huey            # asynchronous task queue
pid             # for pid-file handling
pyserial        # for serial interaction

pyudev          # for managing udev rules for serial devices
requests        # for loading firmware data from websites

esptool         # for flashing ESP8266 devices

redis           # for huey & gravity sensor support
