{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}


{% block title %}Brewfather Push Target {{ push_target }}{% endblock %}

{% block content %}

<h1 class="page-header">{{ push_target }}</h1>
{% if form.errors %}
   <div class="text-danger">Please correct the error {{ form.errors }} below.</div>
{% endif %}
<p>
    <form action="{% url "external_push_brewfather_view" push_target.id %}" class="form-horizontal" method="post">
        {% csrf_token %}

        <div id="pushTargetSection">
            <h3 class="form-header">Push Target Settings</h3>
            {% form_generic form.push_frequency %}
            {% form_generic form.logging_url %}
            {% form_generic form.device_type %}
            <div id="gravityPushChoices">
                <!-- Hidden if anything other than 'list' is selected above -->
                {% form_generic form.gravity_sensor_to_push %}
            </div>
            <div id="brewPiPushChoices">
                <!-- Hidden if anything other than 'list' is selected above -->
                {% form_generic form.brewpi_to_push %}
        </div>

        <input type="submit" value="Update Push Target" class="btn btn-primary" />
    </form>
</p>


<p>
    <a href="{% url 'external_push_brewfather_delete' push_target.id %}" class="btn btn-large btn-lg btn-danger">Delete Push Target</a>
</p>


{% endblock %}

{% block scripts %}
<script>
function DevicePushSelectionHide() {
console.log(document.getElementById('id_device_type').options[document.getElementById('id_device_type').selectedIndex].value) 
    if(document.getElementById('id_device_type').options[document.getElementById('id_device_type').selectedIndex].value == "gravity") {
console.log("A")
         document.getElementById('gravityPushChoices').style.display = '';
         document.getElementById('brewPiPushChoices').style.display = 'none';
    } else {
console.log("B")
         document.getElementById('gravityPushChoices').style.display = 'none';
         document.getElementById('brewPiPushChoices').style.display = '';
    }
}

window.onload = function() {
    document.getElementById('id_device_type').onchange = DevicePushSelectionHide;

    {# Above we have the code to handle the toggling as the user completes the form, here we're going to unhide as part of creating the form itself #}
    DevicePushSelectionHide();
};

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>

{% endblock %}

