{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}


{% block title %}Add Grainfather Push Target{% endblock %}

{% block content %}

<h1 class="page-header">Add Grainfather Push Target</h1>
{% if form.errors %}
   <div class="text-danger">Please correct the error {{ form.errors }} below.</div>
{% endif %}
    <p>
        Grainfather is a web-based app that allows for creating brewing recipes, tracking fermentation status, and
        much more. With a Grainfather account you can log data from your gravity sensors and attach them to
        your brews.
    </p>

    <p>
        To set up Grainfather integration, you will need your Custom Logging URL from the
        <a href="https://community.grainfather.com/my-equipment">My Equipment</a> page of your Grainfather account.
        Add an iSpindel fermentation device and select the logging URL. Data sent from fermentrack will have this format
        independant of your device. The Grainfather name field should contain the number that is defined when adding the 
        iSpindel to your brew session.
    </p>


<p>
    <form action="{% url "external_push_grainfather_target_add" %}" class="form-horizontal" method="post">
        {% csrf_token %}

        <div id="pushTargetSection">
            <h3 class="form-header">Push Target Settings</h3>
            {% form_generic form.push_frequency %}
            {% form_generic form.logging_url %}
            {% form_generic form.gf_name %}
            {% form_generic form.gravity_sensor_to_push %}
        </div>

        <input type="submit" value="Add Push Target" class="btn btn-primary" />
    </form>
</p>


{% endblock %}

{% block scripts %}
<script>

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>

{% endblock %}

