{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}

{% block title %}Flash Firmware to Controller{% endblock %}

{% block content %}

<h1 class="page-header">Flash Firmware to Controller</h1>

{#<h3>Now Flashing Firmware</h3>#}


The request to flash the firmware to the device connected on {{ serial_port }} has been submitted.


Check the status page to see the status of this request.

{% endblock %}
{% block scripts %}
<script>

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>

{% endblock %}
