{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}
{% load tz %}

{% block title %}Flash Status{% endblock %}

{% block content %}

<h1 class="page-header">Flash Attempt Status</h1>
<h2>Flash Status</h2>
<b>Status: </b>


    <p>Note - Firmware flashing is a beta feature, and may not work as intended.
        Please be careful and report any issues you encounter.</p>


{% include 'firmware_flash/flash_status_list_component.html' %}

<h4>First, choose the family of the device you would like to set up:</h4>
<div id="form_container">
    <form action="{% url "firmware_flash_select_family" %}" class="form-horizontal" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
</div>

<div id="update_container">

    <h3>Update List of Available Firmware</h3>
    <p>Last Updated: {{ last_checked|timezone:preferred_tz }}</p>
    <a href="{% url 'firmware_flash_refresh_list' %}" class="btn btn-primary">Refresh Firmware List from Fermentrack.com</a>

</div>
{% endblock %}

{% block scripts %}
<script>

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>

{% endblock %}
