{% extends "sitewide/flat_ui_template.html" %}

{% load static %}
{% load custom_tags %}

{% block title %}Select Firmware to Flash{% endblock %}

{% block content %}

<h1>Select Firmware to Flash</h1>
<h3>Device Information</h3>
<table>
    <tr>
        <td>Serial Port</td>
        <td>{{ serial_port }}</td>
    </tr>
    <tr>
        <td>Device Family</td>
        <td>{{ flash_family.name }}</td>
    </tr>
    <tr>
        <td>Board</td>
        <td>{{ board.name }}</td>
    </tr>
</table>



{% if fermentrack_firmware %}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Fermentrack-Supported BrewPi Firmware</h3></div>
            <div class="panel-body">
                <p>
                    These firmware images are designed to directly interface with Fermentrack and support all classic
                    BrewPi features. Please read the description for all available firmware before selecting an image to
                    ensure that the image you select is the correct one for your hardware.
                </p>
            </div>

        <ul class="list-group">
            {% for this_firmware in fermentrack_firmware %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>{{ this_firmware.name }}</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-xs-6">
                            <h4>Version:</h4>
                            {{ this_firmware.version }}
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <h4>Revision:</h4>
                            {{ this_firmware.revision }}
                        </div>
                        {% if this_firmware.variant %}
                        <div class="col-md-4 col-xs-12">
                            <h4>Variant:</h4>
                            {{ this_firmware.variant }}
                        </div>
                        {% endif %}
                    </div>

                    {# Firmware Descriptions #}
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Description</h4>
                            <p>
                                {{ this_firmware.description }}
                            </p>
                        </div>
                    </div>

                    {% if this_firmware.variant_description %}
                    <div class="row">
                        <div class="col-xs-12">
                        <h4>Variant Description</h4>
                            <p>
                                {{ this_firmware.variant_description }}
                            </p>
                        </div>
                    </div>
                    {% endif %}

                    {# Firmware Links #}
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Firmware URLs</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 bold">{# TODO - Make 'bold' actually a class #}
                            Project URL:
                        </div>
                        <div class="col-xs-8">
                            <a href="{{ this_firmware.project.project_url }}">{{ this_firmware.project.project_url }}</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4 bold">
                            Documentation:
                        </div>
                        <div class="col-xs-8">
                            <a href="{{ this_firmware.project.documentation_url }}">{{ this_firmware.project.documentation_url }}</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4 bold">
                            Firmware Download URL:
                        </div>
                        <div class="col-xs-8">
                            <a href="{{ this_firmware.download_url }}">{{ this_firmware.download_url }}</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <form action="{% url "firmware_flash_flash_firmware" board.id %}" class="form-horizontal" method="post">{% csrf_token %}
                                <input type="hidden" name="serial_port" value="{{ serial_port }}">
                                <input type="hidden" name="firmware_id" value="{{ this_firmware.id }}">
                                <input type="submit" value="Flash to Device" class="btn btn-lg btn-danger" />
                            </form>
                        </div>

    {#                    <div class="col-xs-8">#}
    {#                        This firmware is directly supported by Fermentrack for both flashing & ongoing use#}
    {#                    </div>#}
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>


    {#    #}
    {#<table class="table table-hover">#}
    {#    <thead>#}
    {#        <tr> {# TODO - Add tooltips to explain what these mean #}
    {#            <th>Device Port</th>#}
    {#            <th>Description</th>#}
    {#            <th>PID</th>#}
    {#            <th>VID</th>#}
    {#            <th>Type (if known)</th>#}
    {#            <th></th>#}
    {#        </tr>#}
    {#    </thead>#}
    {#{% for this_device in new_devices %}#}
    {#    <tr>#}
    {#        <td>{{ this_device.device }}</td>#}
    {#        <td>{{ this_device.description }}</td>#}
    {#        <td>{{ this_device.pid }}</td>#}
    {#        <td>{{ this_device.vid }}</td>#}
    {#        <td>{{ this_device.known_name }}</td>#}
    {#        <td>#}
    {#            <form action="{% url "firmware_flash_select_firmware" flash_family_id %}" class="form-horizontal" method="post">{% csrf_token %}#}
    {#                <input type="hidden" name="step" value="4">#}
    {#                <input type="hidden" name="device" value="{{ this_device.device }}">#}
    {#                <input type="submit" value="Set Up" class="btn btn-xs btn-success" />#}
    {#            </form>#}
    {#        </td>#}
    {#    </tr>#}
    {#{% endfor %}#}
    {#</table>#}

    </div>
</div>
{% endif %}



{% if other_firmware %}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Unsupported Firmware</h3></div>
            <div class="panel-body">
                <p>
                    These firmware images are not supported by Fermentrack, but can be flashed from here as a
                    convenience.

                    Please read the description for all available firmware before selecting an image to
                    ensure that the image you select is the correct one for your hardware.
                </p>
            </div>

        <ul class="list-group">
            {% for this_firmware in other_firmware %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>{{ this_firmware.name }}</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-xs-6">
                            <h4>Version:</h4>
                            {{ this_firmware.version }}
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <h4>Revision:</h4>
                            {{ this_firmware.revision }}
                        </div>
                        {% if this_firmware.variant %}
                        <div class="col-md-4 col-xs-12">
                            <h4>Variant:</h4>
                            {{ this_firmware.variant }}
                        </div>
                        {% endif %}
                    </div>

                    {# Firmware Descriptions #}
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Description</h4>
                            <p>
                                {{ this_firmware.description }}
                            </p>
                        </div>
                    </div>

                    {% if this_firmware.variant_description %}
                    <div class="row">
                        <div class="col-xs-12">
                        <h4>Variant Description</h4>
                            <p>
                                {{ this_firmware.variant_description }}
                            </p>
                        </div>
                    </div>
                    {% endif %}

                    {# Firmware Links #}
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Firmware URLs</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 bold">{# TODO - Make 'bold' actually a class #}
                            Project URL:
                        </div>
                        <div class="col-xs-8">
                            <a href="{{ this_firmware.project_url }}">{{ this_firmware.project_url }}</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4 bold">
                            Documentation:
                        </div>
                        <div class="col-xs-8">
                            <a href="{{ this_firmware.documentation_url }}">{{ this_firmware.documentation_url }}</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4 bold">
                            Firmware Download URL:
                        </div>
                        <div class="col-xs-8">
                            <a href="{{ this_firmware.download_url }}">{{ this_firmware.download_url }}</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 bold">
                            This firmware is NOT officially supported by Fermentrack for ongoing use and may not work
                            as expected.
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <form action="{% url "firmware_flash_flash_firmware" board.id %}" class="form-horizontal" method="post">{% csrf_token %}
                                <input type="hidden" name="serial_port" value="{{ serial_port }}">
                                <input type="hidden" name="firmware_id" value="{{ this_firmware.id }}">
                                <input type="submit" value="Flash to Device" class="btn btn-lg btn-danger" />
                            </form>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>


    {#    #}
    {#<table class="table table-hover">#}
    {#    <thead>#}
    {#        <tr> {# TODO - Add tooltips to explain what these mean #}
    {#            <th>Device Port</th>#}
    {#            <th>Description</th>#}
    {#            <th>PID</th>#}
    {#            <th>VID</th>#}
    {#            <th>Type (if known)</th>#}
    {#            <th></th>#}
    {#        </tr>#}
    {#    </thead>#}
    {#{% for this_device in new_devices %}#}
    {#    <tr>#}
    {#        <td>{{ this_device.device }}</td>#}
    {#        <td>{{ this_device.description }}</td>#}
    {#        <td>{{ this_device.pid }}</td>#}
    {#        <td>{{ this_device.vid }}</td>#}
    {#        <td>{{ this_device.known_name }}</td>#}
    {#        <td>#}
    {#            <form action="{% url "firmware_flash_select_firmware" flash_family_id %}" class="form-horizontal" method="post">{% csrf_token %}#}
    {#                <input type="hidden" name="step" value="4">#}
    {#                <input type="hidden" name="device" value="{{ this_device.device }}">#}
    {#                <input type="submit" value="Set Up" class="btn btn-xs btn-success" />#}
    {#            </form>#}
    {#        </td>#}
    {#    </tr>#}
    {#{% endfor %}#}
    {#</table>#}

    </div>
</div>
{% endif %}


{% endblock %}


{% block scripts %}
{% endblock %}
