{% extends "sitewide/flat_ui_template.html" %}

{% load static %}
{% load custom_tags %}

{% block title %}Select Firmware to Flash{% endblock %}

{% block header_scripts %}
<style>
a.collapsed i {
    transform: rotate(180deg)
}
</style>
{% endblock %}


{% block content %}

<h1>Select Firmware to Flash</h1>
<h3>Device Information</h3>
<table>
    <tr>
        <td>Serial Port</td>
        <td>{{ serial_port }}</td>
    </tr>
    <tr>
        <td>Device Family</td>
        <td>{{ flash_family.name }}</td>
    </tr>
    <tr>
        <td>Board</td>
        <td>{{ board.name }}</td>
    </tr>
</table>



{% if fermentrack_firmware %}
<h3>Fermentrack-supported Firmware</h3>

<p>
    These firmware images are designed to directly interface with Fermentrack and support all classic
    BrewPi features. Please read the description for all available firmware before selecting an image to
    ensure that the image you select is the correct one for your hardware.
</p>

<div class="panel-group" id="supported-firmware-selector">
    {% for this_firmware in fermentrack_firmware %}
        <!-- {{ this_firmware.name }} {{ this_firmware.variant }} -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#supported-firmware-selector" data-target="#firmware-{{ this_firmware.id }}" {# href="#firmware-{{ this_firmware.id }}" #} aria-expanded="false" class="accordion-toggle collapsed">
                        <div class="row vertical-align">
                            <div class="col-xs-8 col-md-4">
                                {{ this_firmware.name }} {% if this_firmware.variant %} - {{ this_firmware.variant }}{% endif %} &nbsp; &nbsp; <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>

                            <div class="col-md-6 hidden-sm hidden-xs">
                                Version: {{ this_firmware.version }}{% if this_firmware.revision %},
                                Revision: {{ this_firmware.revision }}{% endif %}{# {% if this_firmware.variant %},#}
{#                                    Variant: {{ this_firmware.variant }}{% endif %}#}
                            </div>
                            <div class="col-xs-2">
                                <form action="{% url "firmware_flash_flash_firmware" board.id %}" class="form-horizontal" method="post">{% csrf_token %}
                                    <input type="hidden" name="serial_port" value="{{ serial_port }}">
                                    <input type="hidden" name="firmware_id" value="{{ this_firmware.id }}">
                                    <input type="submit" value="Flash" class="btn btn-xs btn-danger visible-xs" style="float: right" />
                                    <input type="submit" value="Flash to Device" class="btn btn-sm btn-danger visible-sm" style="float: right" />
                                    <input type="submit" value="Flash to Device" class="btn btn-danger visible-md visible-lg" style="float: right" />
                                </form>
                            </div>
                        </div>
                    </a>
                </h4>
            </div>

            <div id="firmware-{{ this_firmware.id }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="hidden-md hidden-lg">
                        Version: <span class="label label-primary">{{ this_firmware.version }}</span><br>
                        {% if this_firmware.revision %}Revision: <span class="label label-primary">{{ this_firmware.revision }}</span>{% endif %}<br>
                        {% if this_firmware.variant %}Variant: <span class="label label-primary">{{ this_firmware.variant }}</span>{% endif %}<br>
                    </div>


                    {# Firmware Descriptions #}
                    <div class="row">
                        <div class="col-xs-12">
                            <h6 class="visible-xs visible-sm">Description</h6>
                            <p>{{ this_firmware.description }}</p>
                        </div>
                    </div>

                    {% if this_firmware.variant_description %}
                    <div class="row">
                        <div class="col-xs-12">
                            <h6>Variant Description</h6>
                            <p>{{ this_firmware.variant_description }}</p>
                        </div>
                    </div>
                    {% endif %}

                    {# Firmware Links #}
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Links:
                                {% if this_firmware.project.project_url %}
                                    <a href="{{ this_firmware.project.project_url }}" class="btn btn-xs btn-info">Project Website</a>
                                {% endif %}
                                {% if this_firmware.project.documentation_url %}
                                    <a href="{{ this_firmware.project.project_url }}" class="btn btn-xs btn-info">Documentation</a>
                                {% endif %}
    {#                            {% if this_firmware.project.download_url %}#}
    {#                                <a href="{{ this_firmware.project.download_url }}" class="btn-xs">Download</a>#}
    {#                            {% endif %}#}
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <form action="{% url "firmware_flash_flash_firmware" board.id %}" class="form-horizontal" method="post">{% csrf_token %}
                                <input type="hidden" name="serial_port" value="{{ serial_port }}">
                                <input type="hidden" name="firmware_id" value="{{ this_firmware.id }}">
                                <input type="submit" value="Flash to Device" class="btn btn-xs btn-danger visible-xs" />
                                <input type="submit" value="Flash to Device" class="btn btn-sm btn-danger visible-sm" />
                                <input type="submit" value="Flash to Device" class="btn btn-lg btn-danger visible-md visible-lg" />
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- End {{ this_firmware.name }} {{ this_firmware.variant }} -->
    {% endfor %}
</div>

{% endif %}



{% if other_firmware %}
<h3>Other (Unsupported) Firmware</h3>

<p>
    These firmware images are not supported by Fermentrack, but can be flashed from here as a
    convenience.

    Please read the description for all available firmware before selecting an image to
    ensure that the image you select is the correct one for your hardware.
</p>


<div class="panel-group" id="unsupported-firmware-selector">
    {% for this_firmware in other_firmware %}
        <!-- {{ this_firmware.name }} {{ this_firmware.variant }} -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#unsupported-firmware-selector" data-target="#firmware-{{ this_firmware.id }}" {# href="#firmware-{{ this_firmware.id }}" #} aria-expanded="false" class="accordion-toggle collapsed">
                        <div class="row vertical-align">
                            <div class="col-xs-8 col-md-4">
                                {{ this_firmware.name }} {% if this_firmware.variant %} - {{ this_firmware.variant }}{% endif %} &nbsp; &nbsp; <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>

                            <div class="col-md-6 hidden-sm hidden-xs">
                                Version: {{ this_firmware.version }}{% if this_firmware.revision %},
                                Revision: {{ this_firmware.revision }}{% endif %}{# {% if this_firmware.variant %},#}
{#                                    Variant: {{ this_firmware.variant }}{% endif %}#}
                            </div>
                            <div class="col-xs-2">
                                <form action="{% url "firmware_flash_flash_firmware" board.id %}" class="form-horizontal" method="post">{% csrf_token %}
                                    <input type="hidden" name="serial_port" value="{{ serial_port }}">
                                    <input type="hidden" name="firmware_id" value="{{ this_firmware.id }}">
                                    <input type="submit" value="Flash" class="btn btn-xs btn-danger visible-xs" style="float: right" />
                                    <input type="submit" value="Flash to Device" class="btn btn-sm btn-danger visible-sm" style="float: right" />
                                    <input type="submit" value="Flash to Device" class="btn btn-danger visible-md visible-lg" style="float: right" />
                                </form>
                            </div>
                        </div>
                    </a>
                </h4>
            </div>

            <div id="firmware-{{ this_firmware.id }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="hidden-md hidden-lg">
                        Version: <span class="label label-primary">{{ this_firmware.version }}</span><br>
                        {% if this_firmware.revision %}Revision: <span class="label label-primary">{{ this_firmware.revision }}</span>{% endif %}<br>
                        {% if this_firmware.variant %}Variant: <span class="label label-primary">{{ this_firmware.variant }}</span>{% endif %}<br>
                    </div>


                    {# Firmware Descriptions #}
                    <div class="row">
                        <div class="col-xs-12">
                            <h6 class="visible-xs visible-sm">Description</h6>
                            <p>{{ this_firmware.description }}</p>
                        </div>
                    </div>

                    {% if this_firmware.variant_description %}
                    <div class="row">
                        <div class="col-xs-12">
                            <h6>Variant Description</h6>
                            <p>{{ this_firmware.variant_description }}</p>
                        </div>
                    </div>
                    {% endif %}

                    {# Firmware Links #}
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Links:
                                {% if this_firmware.project.project_url %}
                                    <a href="{{ this_firmware.project.project_url }}" class="btn btn-xs btn-info">Project Website</a>
                                {% endif %}
                                {% if this_firmware.project.documentation_url %}
                                    <a href="{{ this_firmware.project.project_url }}" class="btn btn-xs btn-info">Documentation</a>
                                {% endif %}
    {#                            {% if this_firmware.project.download_url %}#}
    {#                                <a href="{{ this_firmware.project.download_url }}" class="btn-xs">Download</a>#}
    {#                            {% endif %}#}
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <form action="{% url "firmware_flash_flash_firmware" board.id %}" class="form-horizontal" method="post">{% csrf_token %}
                                <input type="hidden" name="serial_port" value="{{ serial_port }}">
                                <input type="hidden" name="firmware_id" value="{{ this_firmware.id }}">
                                <input type="submit" value="Flash to Device" class="btn btn-xs btn-danger visible-xs" />
                                <input type="submit" value="Flash to Device" class="btn btn-sm btn-danger visible-sm" />
                                <input type="submit" value="Flash to Device" class="btn btn-lg btn-danger visible-md visible-lg" />
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- End {{ this_firmware.name }} {{ this_firmware.variant }} -->
    {% endfor %}
</div>

    {#    #}
    {#<table class="table table-hover">#}
    {#    <thead>#}
    {#        <tr> {# TODO - Add tooltips to explain what these mean #}
    {#            <th>Device Port</th>#}
    {#            <th>Description</th>#}
    {#            <th>PID</th>#}
    {#            <th>VID</th>#}
    {#            <th>Type (if known)</th>#}
    {#            <th></th>#}
    {#        </tr>#}
    {#    </thead>#}
    {#{% for this_device in new_devices %}#}
    {#    <tr>#}
    {#        <td>{{ this_device.device }}</td>#}
    {#        <td>{{ this_device.description }}</td>#}
    {#        <td>{{ this_device.pid }}</td>#}
    {#        <td>{{ this_device.vid }}</td>#}
    {#        <td>{{ this_device.known_name }}</td>#}
    {#        <td>#}
    {#            <form action="{% url "firmware_flash_select_firmware" flash_family_id %}" class="form-horizontal" method="post">{% csrf_token %}#}
    {#                <input type="hidden" name="step" value="4">#}
    {#                <input type="hidden" name="device" value="{{ this_device.device }}">#}
    {#                <input type="submit" value="Set Up" class="btn btn-xs btn-success" />#}
    {#            </form>#}
    {#        </td>#}
    {#    </tr>#}
    {#{% endfor %}#}
    {#</table>#}

{% endif %}


{% endblock %}


{% block scripts %}
{% endblock %}
