{% extends "sitewide/flat_ui_template.html" %}
{# This template is basically the same thing as the similarly numbered device_guided_serial_autodetect template #}
{# The main change (for now) is the URL this redirects to #}

{% load static %}
{% load custom_tags %}

{% block title %}Auto-detect Controller to Flash{% endblock %}

{% block content %}

<h1>Serial Controller Auto-detection</h1>
<h3>Step 3 - Identify controller</h3>

<div class="row">
<div class="col-xs-12">
{% if new_devices %}
    {# We found at least one "new" device in the second serial scan #}
    <p>Congratulations! We found at least one newly connected device.</p>
    <p>
        Take a look at the list below, and click "Set Up" next to the device ID that corresponds to the
        newly-connected controller.
        Don't see the controller you expected? No worries - you can restart the autodetection process by clicking
        the button at the bottom of this page.
    </p>
</div>
</div>
{% else %}
    {# We didn't find at least one "new" device in the second serial scan #}
    <p>Unfortunately, we didn't find any newly connected devices. If you haven't connected the controller yet (or think
    it needed a few seconds to register) click the "Rescan for New Devices" button below. If it was connected when you
    started the process (or just want to restart the entire autodetection process) click "Restart from Step 1".</p>
    <p>
        Alternatively, if you know your device's port and want to just use the advanced setup procedure, you can
        do that as well.
    </p>


</div>
</div>

<div class="row">
    <div class="col-xs-4">
        <form action="{% url "firmware_flash_serial_autodetect" flash_family_id %}" class="form-horizontal" method="post">{% csrf_token %}
            <input type="hidden" name="step" value="2">
            <input type="submit" value="Restart from Step 1" class="btn btn-block btn-lg btn-danger" />
        </form>
    </div>

    <div class="col-xs-4">
        <form action="{% url "firmware_flash_serial_autodetect" flash_family_id %}" class="form-horizontal" method="post">{% csrf_token %}
            <input type="hidden" name="step" value="3">
            <input type="submit" value="Rescan for New Devices" class="btn btn-block btn-lg btn-warning" />
        </form>
    </div>

</div>

{% endif %}




{% if new_devices %}

<h4>Detected Devices</h4>

    {% if new_devices %}
        <table class="table table-hover">
            <thead>
                <tr> {# TODO - Add tooltips to explain what these mean #}
                    <th>Device Port</th>
                    <th>Description</th>
                    <th>PID</th>
                    <th>VID</th>
                    <th>Type (if known)</th>
                    <th></th>
                </tr>
            </thead>
        {% for this_device in new_devices %}
            <tr>
                <td>{{ this_device.device }}</td>
                <td>{{ this_device.description }}</td>
                <td>{{ this_device.pid }}</td>
                <td>{{ this_device.vid }}</td>
                <td>{{ this_device.known_name }}</td>
                <td>
                    <form action="{% url "firmware_flash_select_firmware" flash_family_id %}" class="form-horizontal" method="post">{% csrf_token %}
                        <input type="hidden" name="serial_port" value="{{ this_device.device }}">
                        <input type="submit" value="Set Up" class="btn btn-xs btn-success" />
                    </form>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

{% endif %}


{% endblock %}


{% block scripts %}
{% endblock %}
