{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}

{% block title %}Guided Device Setup{% endblock %}

{% block content %}

<h1 class="page-header">Flash</h1>
    <h3>Setting up a new {{ device_family }}</h3>

          <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <ul class="nav nav-pills nav-stacked" role="pilllist">{# TODO - Fix class active to use flat-ui colors #}
                        <li role="presentation" class="active nav-item"><a href="#selectPill" aria-controls="selectPill" role="pill" data-toggle="pill">Select One:</a></li>
                        <li role="presentation" class="nav-item"><a href="#wifiPill" aria-controls="wifiPill" role="pill" data-toggle="pill">WiFi</a></li>
                        <li role="presentation" class="nav-item"><a href="#serialPill" aria-controls="serialPill" role="pill" data-toggle="pill">Serial</a></li>
                    </ul>
                </div>

                <div class="tab-content">
                    {# Select (Default) Pane #}
                    <div role="pillpanel" class="col-md-8 tab-pane active" id="selectPill">
                        <h4>How are you connecting</h4>
                        <p>
                            Now that the device is flashed, we need to get it set up to connect to it. If you are using
                            <b>WiFi</b> finish the controller setup and connect it to your network. If you are using
                            <b>Serial</b> connect the controller to the Raspberry Pi device.
                        </p>
                        <p>Once everything is connected, select the connection method on the left.</p>
                    </div>{# Select (Default) Pane #}

                    {# WiFi Connection Pane #}
                    <div role="pillpanel" class="col-md-8 tab-pane" id="wifiPill">
                        {% if device_family == "ESP8266" %} {# Only ESP8266 devices are supported for WiFi #}
                            <p>Awesome. ESP + WiFi = Fantastic.</p>

                            <p>
                                Clicking the button below will scan your network for ESP8266- or ESP32-based BrewPi devices,
                                giving you an option to connect any that aren't already set up.
                            </p>

                            <a href="{% url 'device_guided_mdns' %}" class="btn btn-large btn-primary">Scan WiFi via mDNS</a>
                        {% else %}
                            Unfortunately, WiFi isn't supported on the {{ device_family }} family of devices. Please
                            attempt to connect via "Serial" on the left.
                        {% endif %}
                    </div>{# WiFi Connection Pane #}

                    {# Serial Pane #}
                    <div role="pillpanel" class="col-md-8 tab-pane" id="serialPill">
                        <form action="{% url "device_guided_flash_prompt" device_family %}" method="post" >{% csrf_token %}
                            {% if device_family == "ESP8266" or device_family == "Arduino" %}
                                <p>Wonderful. It's hard to misplace a controller when you're connected via a USB cable.</p>

                                <p>
                                    Clicking the button below will take you to the Serial autodetection process, where
                                    you will be prompted to determine the device name of your controller. Before you begin,
                                    please disconnect your controller from this computer if it's currently connected.
                                </p>

                                <a href="{% url 'device_guided_serial_autodetect' device_family %}" class="btn btn-large btn-primary">Begin Serial Autodetection</a>
{#                                <a href="{% url 'device_add' %}" class="btn btn-large btn-primary">Add Device via Advanced Setup</a>#}
                            {% else %}
                                <p>Unfortunately, Fermentrack doesn't (officially) support {{ device_family }}-based devices via
                                serial just yet.</p>

                                <p>If you're feeling adventurous, you can always try installing it manually via the
                                <a href="{% url 'device_add' %}">Advanced Setup</a> workflow. If it ends up working please
                                let us know!</p>
                            {% endif %}
                        </form>
                    </div>{# Serial Pane #}

                </div>
            </div>
          </div>

{% endblock %}

{% block scripts %}
<script>

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>

{% endblock %}
