{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}

{% block title %}Add Device{% endblock %}

{% block content %}

<h1 class="page-header">Add Device</h1>

    <p>
        Note - This form only works for devices that have already been flashed with the appropriate firmware. If you
    need to flash your controller, please click here:
    </p>

    <p>
        <a href="{% url 'firmware_flash_select_family' %}" class="btn btn-large btn-primary">Begin Guided Firmware Flash</a>
    </p>

<form action="{% url "device_add" %}" class="form-horizontal" method="post">{% csrf_token %}

    {# This is primarily to capture modify_not_create #}
    {% for hidden in this_sensor.device_form.hidden_fields %}
    {{ hidden }}
    {% endfor %}


    <div id="deviceConstantsSection">
        <h4 class="form-header">Device Constants</h4>
        {% form_generic form.device_name %}
        {% form_generic form.temp_format %}
        {% form_generic form.data_point_log_interval %}
        {% form_generic form.board_type %}
    </div>


    <div id="inetSocketSection">
        <h4 class="form-header">Connect Interface to Script</h4>
        {% form_generic form.useInetSocket %}

        <div id="localSocketHidden" style="display: none">{# Although I don't recommend local sockets, some people might want them #}
            {% form_generic form.socket_name %}
        </div>

        <div id="inetSocketHidden" style="display: block">
            {% form_generic form.socketHost %}
            {% form_generic form.socketPort %}
        </div>
    </div>


    <div id="connectivitySection">
        <h4 class="form-header">Connect Script to Device</h4>
        {% form_generic form.connection_type %}
        <div id="serialSocketSection" style="display: none"> {# The javascript below will show the relevant section (serial or wifi) #}
                {% form_generic form.serial_port %}
                {% form_generic form.serial_alt_port %}
                {% form_generic form.prefer_connecting_via_udev %}
        </div>

        <div id="wifiSection" style="display: none">
                {% form_generic form.wifi_host %}
                {% form_generic form.wifi_port %}
        </div>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary" />
</form>

{% endblock %}

{% block scripts %}
<script>

function InetSocketHide() {
    if(document.getElementById('id_useInetSocket').checked) {
         document.getElementById('localSocketHidden').style.display = 'none';
         document.getElementById('inetSocketHidden').style.display = '';
    } else {
         document.getElementById('localSocketHidden').style.display = '';
         document.getElementById('inetSocketHidden').style.display = 'none';
    }
}

function ConnectionTypeHide() {
    if(document.getElementById('id_connection_type').options[document.getElementById('id_connection_type').selectedIndex].value == "serial") {
         document.getElementById('wifiSection').style.display = 'none';
         document.getElementById('serialSocketSection').style.display = '';
    } else {
         document.getElementById('wifiSection').style.display = '';
         document.getElementById('serialSocketSection').style.display = 'none';
    }
}


window.onload = function() {
    document.getElementById('id_connection_type').onchange = ConnectionTypeHide;
    document.getElementById('id_useInetSocket').onchange = InetSocketHide;

    {# Above we have the code to handle the toggling as the user completes the form, here we're going to unhide as part of creating the form itself #}
    InetSocketHide();
    ConnectionTypeHide();
};

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>

{% endblock %}
