{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}

{% block title %}Add Serial Controller - {{ form.serial_port.value }}{% endblock %}

{% block content %}

<h1 class="page-header">Add Device - {{ form.serial_port.value }}</h1>

<form action="{% url "device_guided_serial_autodetect" device_family %}" class="form-horizontal" method="post">{% csrf_token %}
<input type="hidden" name="step" value="4">

    {# This is primarily to capture modify_not_create #}
    {% for hidden in this_sensor.device_form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    <div id="deviceConstantsSection">
        <h4 class="form-header">Device Constants</h4>
        {% form_generic form.device_name %}
        {% form_generic form.temp_format %}
        {% form_generic form.data_point_log_interval %}
        {% form_generic form.board_type True %}
    </div>


    <div id="inetSocketSection">
        <h4 class="form-header">Connect Interface to Script</h4>
        {% form_generic form.useInetSocket %}

        <div id="localSocketHidden" style="display: none">{# Although I don't recommend local sockets, some people might want them #}
            {% form_generic form.socket_name %}
        </div>

        <div id="inetSocketHidden" style="display: none">
            {% form_generic form.socketHost %}
            {% form_generic form.socketPort %}
        </div>
    </div>


    <div id="connectivitySection">
        <h4 class="form-header">Connect Script to Device</h4>
        {% form_generic form.connection_type True %}
        {% form_generic form.serial_port True %}
        {% form_generic form.serial_alt_port True %}
        {% form_generic form.prefer_connecting_via_udev %}
    </div>

    <input type="submit" value="Submit" class="btn btn-primary btn-large btn-lg" />
</form>

{% endblock %}

{% block scripts %}
<script>

function InetSocketHide() {
    if(document.getElementById('id_useInetSocket').checked) {
         document.getElementById('localSocketHidden').style.display = 'none';
         document.getElementById('inetSocketHidden').style.display = '';
    } else {
         document.getElementById('localSocketHidden').style.display = '';
         document.getElementById('inetSocketHidden').style.display = 'none';
    }
}


window.onload = function() {
    document.getElementById('id_useInetSocket').onchange = InetSocketHide;

    {# Above we have the code to handle the toggling as the user completes the form, here we're going to unhide as part of creating the form itself #}
    InetSocketHide();
};

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>

{% endblock %}
