{% extends "sitewide/flat_ui_template.html" %}{% load static %}
{% load custom_tags %}

{% block title %}{{ pagetitle }}{% endblock %}

{% block content %}

    <h1>Available (Uninstalled) Devices</h1>

    {% if available_devices %}
        <table class="table table-hover">
            <thead>
                <tr> {# TODO - Add tooltips to explain what these mean #}
                    <th>Device Address</th>
                    <th>Board</th>
                    <th>Branch</th>
                    <th>Version</th>
                    <th>Revision</th>
                    <th></th>
                </tr>
            </thead>
        {% for this_device in available_devices %}
            <tr>
                <td>{{ this_device.mDNSname }}</td>
                <td>{{ this_device.board }}</td>
                <td>{{ this_device.branch }}</td>
                <td>{{ this_device.version }}</td>
                <td>{{ this_device.revision }}</td>
                <td><a href="{% url 'device_guided_add_mdns' this_device.mDNSname %}" class="btn btn-xs btn-success">Set Up</a></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        No uninstalled mDNS BrewPi devices{# TODO - Add some kind of popup or mouseover help text to this message #}
    {% endif %}

    <h1>Installed Devices</h1>

    {% if installed_devices %}
        <table class="table">
            <thead>
                <tr> {# TODO - Add tooltips to explain what these mean #}
                    <th>Device Name</th>
                    <th>Device Address</th>
                    <th>Board</th>
                    <th>Branch</th>
                    <th>Version</th>
                    <th>Revision</th>
                </tr>
            </thead>
        {% for this_device in installed_devices %}
            <tr>
                <td><a href="{% url 'device_dashboard' this_device.device.id %}">{{ this_device.device.device_name }}</a></td>
                <td>{{ this_device.mDNSname }}</td> {# For the Arduino implementation, pull this from this_device.device #}
                <td>{{ this_device.board }}</td>
                <td>{{ this_device.branch }}</td>
                <td>{{ this_device.version }}</td>
                <td>{{ this_device.revision }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        No found mDNS BrewPi devices currently match any devices installed in brewpi-django.
        {# TODO - Add some kind of popup or mouseover help text to this message #}
    {% endif %}

{% endblock %}


{% block scripts %}
{% endblock %}





