{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}

{% block title %}Initial Setup{% endblock %}

{% block content %}

<h1 class="page-header">Installation Wizard</h1>

First we need to create a user. This user will be the superuser and have full access to all the different
parts of the system. You will automatically be logged in as this user after it is created.

<form method="post" action="">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Create new user account" class="btn btn-large btn-primary btn-lg" />
</form>
{% endblock %}

{% block scripts %}
<script>

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>
{% endblock %}
