{# setup/setup_config.html is part of the site "Guided Setup" workflow the user encounters on a fresh install #}
{# Ideally, it should only be encountered once. All variables can be edited through 'site_settings' as well as #}
{# the Django admin #}

{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}


{% block title %}Guided Device Setup{% endblock %}


{% block content %}

<h1 class="page-header">App Configuration</h1>

{# Setting this as an include so we can reuse it on our site settings page #}
{% include 'setup/constance_app_configuration.html' %}

{% endblock %}


{% block scripts %}
<script>

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>
{% endblock %}
