
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brewery Logo</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

     {% for image in brewery_images %}
            <div class="container">
                    {{ image.name }}
                    {% if show.image %}
                       {{ show.image.url }}
                    {% endif %}
                    <img src="{{ image.url }}" class="img-responsive" style: width="25%" height="25%"; float: left; margin-right: 10px;" />

            </div>
      {% endfor %}

      </body>
</html>
