{% include "sitewide/flat_ui_template.html" %}<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brewery Logo</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<h1 class="page-header">Uploaded Logo Images</h1>

{% if brewery_images %}
     {% for image in brewery_images %}
            <div class="container">
              <div style = "align: center;">
                    <center><p>NAME: {{ image.name }}<br>
                    DATE SAVED: {{ image.date }}</center><br>
                    <img src="{{ image.url }}" class="transparent" style="display: block; margin-left: auto; margin-right: auto; max-width:400px; max-height:400px; margin-bottom:5px;" />
              </div>
    {% endfor %}
{% else %}
<div style = "padding-left: 20px; padding-right: 300px; padding-bottom: 50px;">
  <p> You do not have any uploaded images to display. If you would like to upload a personalized
  Logo of your Brewery to be displayed in Fermentrack, please go to <a href="{% url 'site_settings' %}">Sight Settings</a>
  and navigate to the <b>Django Admin Panel</b> where you can add your image to Brewery Logos.
  <br>
  <p>You may upload as many images as you want, but only the latest uploaded image will be displayed.
  If you would like to make a previusly uploaded image to be displayed again in Fermentrack.
  Simply navigate to the logo through the Django Admin Panel and click <b>SAVE</b>.
</div>
{% endif %}
            </div>

      </body>
</html>
