{# This template isn't actually implemented anywhere at the moment. This is originally how device_dashboard.html #}
{# was written (showing all devices at one) but I've switched to only showing a single device. Preserving the code #}
{# here for posterity, in case we want a view that shows all devices' graphs later on. #}

{% extends "sitewide/flat_ui_template.html" %}{% load static %}
{% load custom_tags %}

{% block title %}All Controllers{% endblock %}

{% block content %}

{% for this_device in all_devices %}

    {{ this_device.device_name }}
    <a href="{% url "device_config" this_device.id %}">Config</a>
    <a href="{% url "sensor_list" this_device.id %}">Sensor List</a>

    (Device {{ this_device.id }})
    <br>
    <div class="row">
        <div class="col-sm-10" id="graphdiv3">
            <div id="graphdiv2" style="width:700px; height:400px;"></div>
            <script type="text/javascript">
              g2 = new Dygraph(
                document.getElementById("graphdiv2"),
                "{% url 'csv_active_beer' active_device.id %}", // path to CSV file
                {
                    labelsDiv: document.getElementById('legend-div')
                }          // options
              );
            </script>
        </div>
    <div class="col-sm-2"><div id="legend-div"></div></div>
    </div>

{% endfor %}


{% endblock %}


{% block scripts %}
{% endblock %}





