{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}

{% block title %}{{ pagetitle }}{% endblock %}

{% block content %}
{% comment %}{# TODO - Delete this before release #}
<!-- device_lcd_list.html -->
{% for this_device in all_devices %}
{{ this_device }}
{% show_lcd this_device %}
{% endfor %}
{% endcomment %}

{% if not num_users or not all_devices %}
        <h2>Brewpi-django Installation</h2>
{% endif %}

{% if not num_users %}
        Looks like this is your first time running brewpi-django. We need to setup some things to get started.
        <ul>
            <li>Continue to <a href="/setup/guided/">Guided configuration</a></li>
        </ul>
{% endif %}

{% if not all_devices and num_users %}
No fermentation devices configured yet. To get started, add a new device:
    <ul>
        <li><a href="/devices/guided/">Add new device (guided)</a></li>
        <li><a href="/devices/add/">Add new device (advanced)</a></li>
    </ul>
{% else %}
    <div id="lcdapp">
        <div v-for="lcd in lcds">
            <div style="width: 290px">
                <div class="row">
                    {# Vue.js uses the same template tags ({{ and }}) as does Django. Use verbatim to escape. #}
                    {% verbatim %}
                            <div class="col-xs-12">
                                <a v-bind:href="lcd.device_url">Device: {{ lcd.device_name }}</a>
                            </div>

                            <div class="col-xs-12">
                                <div id="lcd.device_name" class="lcddisplay">
                                    <span class="lcd-text">
                                        <span class="lcd-line" id="lcd-line-0" v-html="lcd.lcd_data[0]"></span>
                                        <span class="lcd-line" id="lcd-line-1" v-html="lcd.lcd_data[1]"></span>
                                        <span class="lcd-line" id="lcd-line-2" v-html="lcd.lcd_data[2]"></span>
                                        <span class="lcd-line" id="lcd-line-3" v-html="lcd.lcd_data[3]"></span>
                                    </span>
                                </div>
                            </div>
                    {% endverbatim %}
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-12" style="display: block;margin: auto">{# TODO - Tweak 'backlight' button given that it only applies to ESP8266 #}
                        <a v-bind:href="lcd.backlight_url" type="button" class="btn btn-xs btn-info">Backlight</a>
                    </div>
                    <div class="col-sm-4 col-xs-12" style="display: block;margin: auto">
                        <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" v-bind:data-target="lcd.modal_name">Set Temp</button>
                    </div>
                    <div class="col-sm-4 col-xs-12" style="display: block;margin: auto">
                        <a v-bind:href="lcd.device_url" type="button" class="btn btn-xs btn-success">Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{# Add all the modals for controlling temperatures #}
{% for this_device in all_devices %}
{% temp_control_modal this_device %}
{% endfor %}
{% endif %}

{% endblock %}


{% block scripts %}
{% load static %}
    <script type="text/javascript" src="{% static "vendor/vue/js/vue.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/lcd.js" %}"></script>
{% endblock %}