{% extends "sitewide/flat_ui_template.html" %}{% load static %}
{% load custom_tags %}

{% block title %}Debug Device Connection{% endblock %}

{% block content %}

    <h1>Debugging Connection to {{ active_device.device_name }}</h1>


    {% if tests %}
        <h3>Tests Performed:</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Test</th>
                    <th>Parameter</th>
                    <th>Pass/Fail</th>
                    <th>Output</th>
                </tr>
            </thead>
        {% for this_test in tests %}
            <tr>
                <td>{{ this_test.name }}</td>
                <td>{{ this_test.parameter }}</td>
                <td>{{ this_test.status }}</td>
                <td>{{ this_test.result }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        {# If for some reason there aren't any available tests for the device, display a message noting as such. #}
        No connection tests were performed for this device.
    {% endif %}


    <h3>Test Descriptions</h3>
    {# TODO - Update this when we actually add device status management in #}
    <p><b>Device Status Test -</b> Checks that the device status is "active", which is the only status that triggers Circus to manage BrewPi-script for the device. If this test fails, reset the status to "active" and retry.</p>
    <p><b>DNS Lookup Test -</b> Checks that the device's DNS/mDNS hostname can be resolved. If this test fails, reset the power to the controller and check the WiFi hostname associated with the controller. The current WiFi hostname is displayed in the "parameter" field.</p>
    <p><b>Connection Test -</b> Checks that Fermentrack can connect to the device. If this test fails, the device is unreachable at the address specified in the "Parameter" column. Try restarting or reflashing the device. </p>
    <p><b>Controller Response Test -</b> Checks that the connected controller responds as expected for a BrewPi controller. If this test fails, check the connection strength to the controller and ensure the controller is flashed with the latest firmware.</p>
    <p><b>Cached IP Test -</b> Checks that there is a cached IP address associated with the device. The result of this test can safely be ignored - this value is only used if the DNS lookup test above ever fails.</p>


{% endblock %}


{% block scripts %}
{% endblock %}





