{% extends "sitewide/flat_ui_template.html" %}{% load static %}
{% load custom_tags %}

{% block title %}{{ pagetitle }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-4 col-sm-12">
            <h1>{{ active_device.device_name }}</h1>
            <h5>Now Fermenting: </h5>
        </div>
        <div class="col-md-8 col-sm-12">

            {# TODO - LCD Goes Here #}

        </div>
    </div>
    <a href="{% url "device_config" active_device.id %}">Config</a>
    <a href="{% url "sensor_list" active_device.id %}">Sensor List</a>

    (Device {{ active_device.id }})
    <br>
    <div class="row">
        <div class="col-sm-10" id="graphdiv3">
            <div id="graphdiv2" style="width:700px; height:400px;"></div>
            <script type="text/javascript">
              g2 = new Dygraph(
                document.getElementById("graphdiv2"),
                "{% url 'csv_active_beer' active_device.id %}", // path to CSV file
                {
                    labelsDiv: document.getElementById('legend-div')
                }          // options
              );
            </script>
        </div>
    <div class="col-sm-2"><div id="legend-div"></div></div>
    </div>


{% endblock %}


{% block scripts %}
{% endblock %}





