{% extends "sitewide/flat_ui_template.html" %}{% load static %}
{% load custom_tags %}

{% block title %}{{ pagetitle }}{% endblock %}

{% block content %}

    <h1>Available (Uninstalled) Devices</h1>

    {% if available_devices %}
        <table>
            <thead>
                <tr> {# TODO - Add tooltips to explain what these mean #}
                    <th>Device Address</th>
                    <th>Board</th>
                    <th>Branch</th>
                    <th>Version</th>
                    <th>Revision</th>
                </tr>
            </thead>
        {% for this_device in available_devices %}
            <tr>
                <td>{{ this_device.mDNSname }}</td>
                <td>{{ this_device.board }}</td>
                <td>{{ this_device.branch }}</td>
                <td>{{ this_device.version }}</td>
                <td>{{ this_device.revision }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        No uninstalled mDNS BrewPi devices{# TODO - Add some kind of popup or mouseover help text to this message #}
    {% endif %}

    <h1>Available (Active) Installed Devices</h1> {#  TODO - Rephrase this. What I'm trying to say is that the devices are on the network and also are installed #}

    {% if installed_devices %}
        <table>
            <thead>
                <tr> {# TODO - Add tooltips to explain what these mean #}
                    <th>Device Name</th>
                    <th>Device Address</th>
                    <th>Board</th>
                    <th>Branch</th>
                    <th>Version</th>
                    <th>Revision</th>
                </tr>
            </thead>
        {% for this_device in installed_devices %}
            <tr>
                <td>{{ this_device.device.device_name }}</td>
                <td>{{ this_device.mDNSname }}</td> {# For the Arduino implementation, pull this from this_device.device #}
                <td>{{ this_device.board }}</td>
                <td>{{ this_device.branch }}</td>
                <td>{{ this_device.version }}</td>
                <td>{{ this_device.revision }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        No uninstalled mDNS BrewPi devices{# TODO - Add some kind of popup or mouseover help text to this message #}
    {% endif %}

{% endblock %}


{% block scripts %}
{% endblock %}





