{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}

{% block title %}{{ pagetitle }}{% endblock %}

{% block content %}
{% comment %}{# TODO - Delete this before release #}
<!-- device_lcd_list.html -->
{% for this_device in all_devices %}
{{ this_device }}
{% show_lcd this_device %}
{% endfor %}
{% endcomment %}


    <div id="lcdapp">
        <div v-for="lcd in lcds">
            <div style="width: 290px">
                <div class="row">
                    {# Vue.js uses the same template tags ({{ and }}) as does Django. Use verbatim to escape. #}
                    {% verbatim %}
                            <div class="col-xs-12">
                                <a v-bind:href="lcd.device_url">Device: {{ lcd.device_name }}</a>
                            </div>

                            <div class="col-xs-12">
                                <div id="lcd.device_name" class="lcddisplay">
                                    <span class="lcd-text">
                                        <span class="lcd-line" id="lcd-line-0" v-html="lcd.lcd_data[0]"></span>
                                        <span class="lcd-line" id="lcd-line-1" v-html="lcd.lcd_data[1]"></span>
                                        <span class="lcd-line" id="lcd-line-2" v-html="lcd.lcd_data[2]"></span>
                                        <span class="lcd-line" id="lcd-line-3" v-html="lcd.lcd_data[3]"></span>
                                    </span>
                                </div>
                            </div>
                    {% endverbatim %}
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-12" style="display: block;margin: auto">
                        <a href="#" type="button" class="btn btn-xs btn-info">Backlight</a>
                    </div>
                    <div class="col-sm-4 col-xs-12" style="display: block;margin: auto">
                        <a href="#" type="button" class="btn btn-xs btn-danger" >Set Temp</a>
                    </div>
                    <div class="col-sm-4 col-xs-12" style="display: block;margin: auto">
                        <a href="#" type="button" class="btn btn-xs btn-success">Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
{% load static %}
    {# Moving this here as this page is the one that loads the LCDs #}
    {# TODO - Possibly move the vue.js load directive here as well if this is the only place we need it?? #}
    <script type="text/javascript" src="{% static "js/lcd.js" %}"></script>
{% endblock %}