{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}
{% load tz %}

{% block title %}Update from GitHub{% endblock %}

{% block content %}

<h1>Upgrade from GitHub</h1>


{% if git_update_type == "tagged" %}
    {#  This functionality no longer exists, but I'm leaving the code here in case we decide to reenable it later #}

<h3>Update to Latest Tagged Commit</h3>
<form action="{% url "github_trigger_upgrade" %}" class="form-horizontal" method="post">{% csrf_token %}
<div class="row">
    <div class="col-xs-2">Current Commit Date:</div>
    <div class="col-xs-10">{{ commit_info.local.committed_datetime|timezone:preferred_tz }}</div>
</div>

<div class="row">
    <div class="col-xs-2">Latest Tagged Commit:</div>
    <div class="col-xs-10">
        {{ tags.latest_tag.name }} - Released {{ tags.latest_tag.committed_datetime|timezone:preferred_tz }}
        <input type="hidden" name="tag" value="{{ tags.latest_tag.name }}">
    </div>
</div>


<div class="row">
{% if commit_info.local.committed_datetime < tags.latest_tag.committed_datetime %}
    <div class="col-xs-2"><input type="submit" value="Update to Latest Release" class="btn btn-block btn-lg btn-success" /></div>
{% else %}
    <div class="col-xs-2"><input type="submit" value="Revert to Latest Release" class="btn btn-block btn-lg btn-danger" /></div>
{% endif %}
</div>

</form>

{% endif %}

{% if allow_git_branch_switching %}
<h3>Update Current Branch</h3>
{% elif git_update_type == "tagged" %}
    <h3>Update to Latest <u>Untagged</u> Commit</h3>
{% endif %}

<h4>Local Commit Info:</h4>
<table>
    <tr><td>Active Branch:</td> <td>{{ commit_info.local_branch }}</td></tr>
    <tr><td>Commit Date:</td> <td>{{ commit_info.local.committed_datetime|timezone:preferred_tz }}</td></tr>
    <tr><td>Commit Message:</td> <td><pre>{{ commit_info.local.message }}</pre></td></tr>
    <tr><td>Commit Hex SHA:</td> <td>{{ commit_info.local.hexsha }}</td></tr>
</table>

<h4>Remote Commit Info:</h4>
<table>
    <tr><td>Commit Date:</td> <td>{{ commit_info.remote.committed_datetime|timezone:preferred_tz }}</td></tr>
    <tr><td>Commit Message:</td> <td><pre>{{ commit_info.remote.message }}</pre></td></tr>
    <tr><td>Commit Hex SHA:</td> <td>{{ commit_info.remote.hexsha }}</td></tr>
</table>

{% if not app_is_current %}
<form action="{% url "github_trigger_upgrade" %}" class="form-horizontal" method="post">{% csrf_token %}
    <input type="submit" value="Click Here to Upgrade from GitHub" class="btn btn-block btn-lg btn-primary" />
</form>

    <p>Having trouble upgrading? You can also try this, which is a bit more forceful in triggering the upgrade:</p>
<form action="{% url "github_trigger_force_upgrade" %}" class="form-horizontal" method="post">{% csrf_token %}
    <input type="submit" value="Click Here to force an upgrade from GitHub" class="btn btn-block btn-lg btn-primary" />
</form>


{% endif %}

{% if allow_git_branch_switching %}

<h3>Switch Branch</h3>
<form action="{% url "github_trigger_upgrade" %}" class="form-horizontal" method="post">{% csrf_token %}
<div class="row">
    <div class="col-xs-2">Current Branch:</div>
    <div class="col-xs-10">{{ branch_info.local_branch }}</div>
</div>

<div class="row">
    <div class="col-xs-2">New Branch:</div>
    <div class="col-xs-10">
        <select name="new_branch">
            {% for this_branch in branch_info.remote_branches %}
                <option value="{{ this_branch }}">{{ this_branch }}</option>
            {% endfor %}
        </select>
    </div>
</div>


<div class="row">
    <div class="col-xs-2"><input type="submit" value="Switch Branch" class="btn btn-block btn-lg btn-danger" /></div>
</div>

</form>

{% endif %}

{% endblock %}


{% block scripts %}
{% load static %}
{% endblock %}