{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}

{% block title %}Update from GitHub{% endblock %}

{% block content %}

<h1>Upgrade from GitHub</h1>

<h4>Local Commit Info:</h4>
<table>
    <tr><td>Active Branch:</td> <td>{{ commit_info.local_branch }}</td></tr>
    <tr><td>Commit Date:</td> <td>{{ commit_info.local.committed_datetime }}</td></tr> {# TODO - Make this pretty #}
    <tr><td>Commit Message:</td> <td>{{ commit_info.local.message }}</td></tr>
    <tr><td>Commit Hex SHA:</td> <td>{{ commit_info.local.hexsha }}</td></tr>
</table>

    <h4>Remote Commit Info:</h4>
<table>
    <tr><td>Commit Date:</td> <td>{{ commit_info.remote.committed_datetime }}</td></tr> {# TODO - Make this pretty #}
    <tr><td>Commit Message:</td> <td>{{ commit_info.remote.message }}</td></tr>
    <tr><td>Commit Hex SHA:</td> <td>{{ commit_info.remote.hexsha }}</td></tr>
</table>


{% endblock %}


{% block scripts %}
{% load static %}
{% endblock %}