{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}

{% block title %}Configure Sensors & Relays{% endblock %}

{% block content %}

<h1 class="unmargined-page-header">Configure Sensors/Pins</h1>


{% if devices_loaded %}{# If the devices didn't load, we're going to replace the page with an error message #}

{% if form.errors %}
   <div class="text-danger">Please correct the error{{ form.errors }} below.</div>
{% endif %}


<div id="sensorStatus">
    <div class="row">{#  This section displays the heating/cooling pin, fridge sensor statuses #}
        <div class="col-sm-4 sensor-setup-grid-box">
            <div class="row">
            {% if active_device.heat_pin %}
                <span class="fa-stack fa-5x">
                  <i class="fa fa-square-o fa-stack-2x text-success"></i>
                  <i class="fa fa-bolt fa-stack-1x" style="color: #d43f3a;"></i>
                </span>
            </div>
            <div class="row">
                Heating pin set to pin {{ active_device.heat_pin.pin }}
            {% else %}
                <span class="fa-stack fa-5x">
                  <i class="fa fa-square-o fa-stack-2x" style="color: #d43f3a;"></i>
                  <i class="fa fa-bolt fa-stack-1x" style="color: #d43f3a;"></i>
                </span>
            </div>
            <div class="row">
                Heating pin NOT set<br />Heating cannot take place<br />Configure below to correct
            {% endif %}  {# TODO - Add support for OneWire actuators #}
            </div>
        </div>

        {# Cooling Pin #}
        <div class="col-sm-4 sensor-setup-grid-box">
            <div class="row ">
            {% if active_device.cool_pin %}
                <span class="fa-stack fa-5x">
                  <i class="fa fa-square-o fa-stack-2x text-success"></i>
                  <i class="fa fa-bolt fa-stack-1x text-info"></i>
                </span>
            </div>
            <div class="row">
                Cooling pin set to pin {{ active_device.cool_pin.pin }}
        {% else %}
                <span class="fa-stack fa-5x">
                  <i class="fa fa-square-o fa-stack-2x text-error" style="color: #d43f3a;"></i>
                  <i class="fa fa-bolt fa-stack-1x text-info"></i>
                </span>
            </div>
            <div class="row">
                Cooling pin NOT set<br />Cooling cannot take place<br />Configure below to correct
        {% endif %}  {# TODO - Add support for OneWire actuators #}
            </div>
        </div>

        {# Fridge/Chamber Sensor #}
        <div class="col-sm-4 sensor-setup-grid-box">
            <div class="row ">
            {% if active_device.chamber_sensor %}
                <span class="fa-stack fa-5x">
                  <i class="fa fa-square-o fa-stack-2x text-success"></i>
                  <i class="fa fa-cube fa-stack-1x text-success"></i>
                </span>
            </div>
            <div class="row">
                Chamber sensor set to address {{ chamber_sensor.addresss }}
        {% else %}
                <span class="fa-stack fa-5x">
                  <i class="fa fa-square-o fa-stack-2x text-error" style="color: #d43f3a;"></i>
                  <i class="fa fa-cube fa-stack-1x" style="color: #d43f3a;"></i>
                </span>
            </div>
            <div class="row">
                Chamber sensor NOT configured<br />Heating/Cooling cannot take place<br />Configure below to correct
        {% endif %}  {# TODO - Add support for OneWire actuators #}
            </div>
        </div>
    </div>{# /heating/cooling/fridge row #}


    <div class="row">{#  This section displays the heating/cooling pin, fridge sensor statuses #}
        {# Beer Sensor #}
        <div class="col-sm-4 sensor-setup-grid-box">
            <div class="row ">
            {% if active_device.beer_sensor %}
                <span class="fa-stack fa-5x">
                  <i class="fa fa-square-o fa-stack-2x text-success"></i>
                  <i class="fa fa-beer fa-stack-1x text-success"></i>
                </span>
            </div>
            <div class="row">
                Beer sensor set to pin {{ active_device.beer_sensor.pin }}
        {% else %}
                <span class="fa-stack fa-5x">
                  <i class="fa fa-square-o fa-stack-2x text-warn"></i>
                  <i class="fa fa-beer fa-stack-1x text-warn"></i>
                </span>
            </div>
            <div class="row">
                Beer sensor NOT configured<br />Profiles/Beer Constant mode will not be available
        {% endif %}  {# TODO - Add support for OneWire actuators #}
            </div>
        </div>

        {# Room Sensor #}
        <div class="col-sm-4 sensor-setup-grid-box">
            <div class="row ">
            {% if active_device.room_sensor %}
                <span class="fa-stack fa-5x">
                  <i class="fa fa-square-o fa-stack-2x text-success"></i>
                  <i class="fa fa-bolt fa-stack-1x text-info"></i>
                </span>
            </div>
            <div class="row">
                Room sensor set to pin {{ active_device.room_sensor.pin }}
        {% else %}
                <span class="fa-stack fa-5x">
                  <i class="fa fa-square-o fa-stack-2x" style="color: #d43f3a;"></i>
                  <i class="fa fa-home fa-stack-1x" style="color: #d43f3a;"></i>
                </span>
            </div>
            <div class="row">
                Room sensor NOT set<br />No room logging will occur
        {% endif %}
            </div>
        </div>

        {# Door Sensor #}
        <div class="col-sm-4 sensor-setup-grid-box">
            <div class="row ">
            {% if active_device.door_pin %}
                <span class="fa-stack fa-5x">
                  <i class="fa fa-square-o fa-stack-2x text-success"></i>
                  <i class="fa fa-upload fa-stack-1x text-success"></i>
                </span>
            </div>
            <div class="row">
                Door sensor pin set to pin {{ active_device.door_pin.pin }}
        {% else %}
                <span class="fa-stack fa-5x">
                  <i class="fa fa-square-o fa-stack-2x text-error" style="color: #d43f3a;"></i>
                  <i class="fa fa-upload fa-stack-1x" style="color: #d43f3a;"></i>
                </span>
            </div>
            <div class="row">
                Door pin NOT set<br />Door annotations will not be logged
        {% endif %}
            </div>
        </div>
    </div>{# /heating/cooling/fridge row #}


</div>

<h2 class="double-border">Available Devices</h2>
{% for this_sensor in available_devices %}
<div class="row">
    <div class="col-sm-4">
        {% if this_sensor.hardware == 1 %}{# Pin #}
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x text-info"></i>
          <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
        </span>
        {% elif this_sensor.hardware == 2 %}{# OneWire Temp Sensor #}
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x text-info"></i>
          <i class="fa fa-thermometer-full fa-stack-1x fa-inverse"></i>
        </span>
        {% elif this_sensor.hardware == 3 %}{# OneWire 2413 #}
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x text-info"></i>
          <i class="fa fa-microchip fa-stack-1x fa-inverse"></i>
        </span>
        {% elif this_sensor.hardware == 4 %}{# OneWire 2408 #}
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x text-info"></i>
          <i class="fa fa-microchip fa-stack-1x fa-inverse"></i>
        </span>
        {% endif %}
    </div>

    <div class="col-sm-8" style="background-color:#eff0f2; border-radius:6px">
        <div style="background-color:#eff0f2; border-radius:6px">
            <div class="row col-sm-12">

        {% if this_sensor.hardware == 1 %}{# Pin #}
                Pin {{ this_sensor.pin }} ({{ this_sensor.pin_data.text }})
        {% elif this_sensor.hardware == 2 %}{# OneWire Temp Sensor #}
            <div class="row col-sm-12">
                OneWire Temp Sensor
            </div>
            <div class="row col-sm-12">
                Address {{ this_sensor.address }}
            </div>
        {% elif this_sensor.hardware == 3 %}{# OneWire 2413 #}

        {% elif this_sensor.hardware == 4 %}{# OneWire 2408 #}

        {% endif %}


            </div>
            <form action="{% url "sensor_config" active_device.id %}" class="form-horizontal" method="post">{% csrf_token %}


        {% if this_sensor.hardware == 1 %}{# Pin #}
                <div class="row">
                        <label for="{{ this_sensor.device_form.device_function.id }}" data-toggle="tooltip" title="{{ this_sensor.device_form.device_function.help_text }}" class="col-sm-4">{{ this_sensor.device_form.device_function.label_tag }}</label>
                        <div class="col-sm-8">
{#                            <div class="select2-container form-control select select-primary">#}
                                {{ this_sensor.device_form.device_function }}
{#                            </div>#}
                        </div>
                </div>
                <div class="row">
                    <label for="{{ this_sensor.device_form.invert.id }}" data-toggle="tooltip" title="{{ this_sensor.device_form.invert.help_text }}" class="col-sm-4">{{ this_sensor.device_form.invert.label_tag }}</label>
                    <div class="col-sm-8">
                        {{ this_sensor.device_form.invert }}<input type="hidden" name="pin" value="{{ this_sensor.pin }}">
                    </div>
                </div>
        {% elif this_sensor.hardware == 2 %}{# OneWire Temp Sensor #}
                <div class="row">
                    <label for="{{ this_sensor.device_form.device_function.id }}" data-toggle="tooltip" title="{{ this_sensor.device_form.device_function.help_text }}" class="col-sm-4">{{ this_sensor.device_form.device_function.label_tag }}</label>
                    <div class="col-sm-8">{{ this_sensor.device_form.device_function }}</div>
                </div>
                <div class="row">
                    <label for="{{ this_sensor.device_form.calibration.id }}" data-toggle="tooltip" title="{{ this_sensor.device_form.calibration.help_text }}" class="col-sm-4">{{ this_sensor.device_form.calibration.label_tag }} (Optional)</label>
                    <div class="col-sm-8">{{ this_sensor.device_form.calibration }}</div>
                </div>
        {% elif this_sensor.hardware == 3 %}{# OneWire 2413 #}

        {% elif this_sensor.hardware == 4 %}{# OneWire 2408 #}

        {% endif %}

                <div class="row col-sm-12">
                    {% for hidden in this_sensor.device_form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                    <input type="submit" value="Assign" class="btn btn-block btn-lg btn-primary" />
                </div>
            </form>
        </div>

    </div>
</div>
{% endfor %}





<h2 class="double-border">Installed Devices</h2>
{% for this_sensor in installed_devices %}
<div class="row">
    <div class="col-sm-4">
        {% if this_sensor.hardware == 1 %}{# Pin #}
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x text-info"></i>
          <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
        </span>
        {% elif this_sensor.hardware == 2 %}{# OneWire Temp Sensor #}
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x text-info"></i>
          <i class="fa fa-thermometer fa-stack-1x fa-inverse"></i>
        </span>
        {% elif this_sensor.hardware == 3 %}{# OneWire 2413 #}
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x text-info"></i>
          <i class="fa fa-microchip fa-stack-1x fa-inverse"></i>
        </span>
        {% elif this_sensor.hardware == 4 %}{# OneWire 2408 #}
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x text-info"></i>
          <i class="fa fa-microchip fa-stack-1x fa-inverse"></i>
        </span>
        {% endif %}
    </div>
    <div class="col-sm-8">

        {% if this_sensor.hardware == 1 %}{# Pin #}
            <div class="row col-sm-12">
                Pin {{ this_sensor.pin }} ({{ this_sensor.pin_data.text }})
            </div>
            <div class="row col-sm-12">
                Invert Status: {% if this_sensor.invert == 0 %}Not Inverted{% elif this_sensor.invert == 1 %}Inverted{% else %}Unknown{% endif %}
            </div>
        {% elif this_sensor.hardware == 2 %}{# OneWire Temp Sensor #}
            <div class="row col-sm-12">
                OneWire Temp Sensor
            </div>
            <div class="row col-sm-12">
                Address {{ this_sensor.address }}
            </div>
            {% if this_sensor.sensor_value != 0 %}
                <div class="row col-sm-12">
                    Temp Value: {{ this_sensor.sensor_value }}
                </div>
            {% endif %}
            {% if this_sensor.calibrate_adjust != 0.0 %}
                <div class="row col-sm-12">
                    Temp Calibration Offset: {{ this_sensor.calibrate_adjust }}
                </div>
            {% endif %}
        {% elif this_sensor.hardware == 3 %}{# OneWire 2413 #}
            OneWire 2413 {# TODO - Add support for OneWire actuators #}
        {% elif this_sensor.hardware == 4 %}{# OneWire 2408 #}
            OneWire 2408 {# TODO - Add support for OneWire actuators #}
        {% endif %}
            <div class="row col-sm-12">
                Device Function: {{ this_sensor.get_device_function_display }}
            </div>
            <form action="{% url "sensor_config" active_device.id %}" class="form-horizontal" method="post">{% csrf_token %}
                <div class="row col-sm-12">
                    {% for hidden in this_sensor.device_form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                    <input type="submit" value="Unassign" class="btn btn-block btn-lg btn-danger" />
                </div>
            </form>


    </div>
</div>

{% endfor %}


<div class="row">
    <div class="col-xs-12">
        <a href="{% url 'sensor_refresh' active_device.id %}" class="btn btn-lg btn-primary">Refresh Sensor Temp Readings</a>
    </div>
</div>

{% else %}

    <p>An error was found when attempting to load the sensors/pins on the device. Attempt to resolve the error,
    then click the button below to refresh this page.</p>
    <a href="{% url 'sensor_list' active_device.id %}" class="btn btn-block btn-lg btn-primary">Reload Sensor/Pin List</a>

{% endif %}




{% endblock %}

{% block scripts %}
<script>

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})


// Some general UI pack related JS
// Extend JS String with repeat method
String.prototype.repeat = function (num) {
  return new Array(Math.round(num) + 1).join(this);
};

(function ($) {

  // Add segments to a slider
  $.fn.addSliderSegments = function () {
    return this.each(function () {
      var $this = $(this),
          option = $this.slider('option'),
          amount = (option.max - option.min)/option.step,
          orientation = option.orientation;
      if ( 'vertical' === orientation ) {
        var output = '', i;
        console.log(amount);
        for (i = 1; i <= amount - 1; i++) {
            output += '<div class="ui-slider-segment" style="top:' + 100 / amount * i + '%;"></div>';
        }
        $this.prepend(output);
      } else {
        var segmentGap = 100 / (amount) + '%';
        var segment = '<div class="ui-slider-segment" style="margin-left: ' + segmentGap + ';"></div>';
        $this.prepend(segment.repeat(amount - 1));
      }
    });
  };

  $(function () {

    // Todo list
    $('.todo').on('click', 'li', function () {
      $(this).toggleClass('todo-done');
    });

    // Custom Selects
    if ($('[data-toggle="select"]').length) {
      $('[data-toggle="select"]').select2();
    }

    // Checkboxes and Radio buttons
    $('[data-toggle="checkbox"]').radiocheck();
    $('[data-toggle="radio"]').radiocheck();

    // Tooltips
    $('[data-toggle=tooltip]').tooltip('show');

    // jQuery UI Sliders
    var $slider = $('#slider');
    if ($slider.length > 0) {
      $slider.slider({
        max: 15,
        step: 6,
        value: 3,
        orientation: 'horizontal',
        range: 'min'
      }).addSliderSegments();
    }

    var $verticalSlider = $('#vertical-slider');
    if ($verticalSlider.length) {
      $verticalSlider.slider({
        min: 1,
        max: 5,
        value: 3,
        orientation: 'vertical',
        range: 'min'
      }).addSliderSegments($verticalSlider.slider('option').max, 'vertical');
    }

    // Focus state for append/prepend inputs
    $('.input-group').on('focus', '.form-control', function () {
      $(this).closest('.input-group, .form-group').addClass('focus');
    }).on('blur', '.form-control', function () {
      $(this).closest('.input-group, .form-group').removeClass('focus');
    });

    // Make pagination demo work
    $('.pagination').on('click', 'a', function () {
      $(this).parent().siblings('li').removeClass('active').end().addClass('active');
    });

    $('.btn-group').on('click', 'a', function () {
      $(this).siblings().removeClass('active').end().addClass('active');
    });

    // Disable link clicks to prevent page scrolling
    $(document).on('click', 'a[href="#fakelink"]', function (e) {
      e.preventDefault();
    });

    // Switches
    if ($('[data-toggle="switch"]').length) {
      $('[data-toggle="switch"]').bootstrapSwitch();
    }

    // Typeahead
    if ($('#typeahead-demo-01').length) {
      var states = new Bloodhound({
        datumTokenizer: function (d) { return Bloodhound.tokenizers.whitespace(d.word); },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        limit: 4,
        local: [
          { word: 'Alabama' },
          { word: 'Alaska' },
          { word: 'Arizona' },
          { word: 'Arkansas' },
          { word: 'California' },
          { word: 'Colorado' }
        ]
      });

      states.initialize();

      $('#typeahead-demo-01').typeahead(null, {
        name: 'states',
        displayKey: 'word',
        source: states.ttAdapter()
      });
    }

    // make code pretty
    window.prettyPrint && prettyPrint();

  });

})(jQuery);


</script>

{% endblock %}
