{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}

{% block title %}Help{% endblock %}

{% block content %}

<h1 class="page-header">Help</h1>

<p>
    <a href="https://thorrak.github.io/fermentrack/" class="btn btn-primary btn-large btn-lg">Fermentrack Docs</a>
</p>

<p>

</p>

<h3 class="page-header">Logs for troubleshooting</h3>

<h4>Controller logs</h4>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Device Name</th>
      <th>Stdout Log</th>
      <th>Stderr Log</th>
      <th>Status</th>
      <td>Board Type</th>
    </tr>
  </thead>
  <tbody>
    {% for this_device in all_devices %}
            <tr>
                <th scope="row">{{ this_device.id }}</th>
                <td>{{ this_device.device_name }}</td>
                <td><a href="/api/log/stderr/{{ this_device.id }}/">log/dev-brewpi{{ this_device.id }}-stderr.log</a></td>
                <td><a href="/api/log/stdout/{{ this_device.id }}/">log/dev-brewpi{{ this_device.id }}-stdout.log</a></td>
                <td>{{ this_device.status }}</td>
                <td>{{ this_device.board_type }}</td>
            </tr>
{% endfor %}
  </tbody>
</table>

<h4>Other logs</h4>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Service</th>
      <th>Logfile</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Fermentrack (Web Application)</th>
      <td><a href="/api/log/fermentrack/">log/fermentrack-stderr.log</a></td>
    </tr>
    <tr>
      <th scope="row">Brewpi Spawner</th>
      <td><a href="/api/log/brewpi_spawner/">log/fermentrack-brewpi-spawner.log</a></td>
    </tr>
  </tbody>
</table>

{% endblock %}

{% block scripts %}{% endblock %}
