{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}

{% block title %}Help{% endblock %}

{% block content %}

<h1 class="page-header">Help</h1>

<p>
    <a href="http://docs.fermentrack.com/" class="btn btn-primary btn-large btn-lg">Fermentrack Docs</a>
</p>

<p>

</p>

<h3 class="page-header">Logs for troubleshooting</h3>


{% if config.TEMP_CONTROL_SUPPORT_ENABLED %}
    <h4>Controller Logs</h4>

    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Device Name</th>
          <th>Stdout Log</th>
          <th>Stderr Log</th>
          <th>Status</th>
          <th>Board Type</th>
        </tr>
      </thead>
      <tbody>
        {% for this_device in all_devices %}
                <tr>
                    <th scope="row">{{ this_device.id }}</th>
                    <td>{{ this_device.device_name }}</td>
                    <td><a href="{% url "get_device_log" "text" "brewpi" "stdout" this_device.id %}">{% log_file_path "brewpi" "stdout" this_device.id %}</a></td>
                    <td><a href="{% url "get_device_log" "text" "brewpi" "stderr" this_device.id %}">{% log_file_path "brewpi" "stderr" this_device.id %}</a></td>
                    <td>{{ this_device.status }}</td>
                    <td>{{ this_device.board_type }}</td>
                </tr>
        {% endfor %}
      </tbody>
    </table>
{% endif %}

{% if config.GRAVITY_SUPPORT_ENABLED %}
    <h4>Gravity Sensor Logs</h4>

    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Device Name</th>
{#          <th>Stdout Log</th>#}
{#          <th>Stderr Log</th>#}
          <th>Status</th>
          <th>Sensor Type</th>
        </tr>
      </thead>
      <tbody>
        {% for this_device in all_gravity_sensors %}
                <tr>
                    <th scope="row">{{ this_device.id }}</th>
                    <td>{{ this_device.name }}</td>
{#                    <td>N/A</td>#}
{#                    <td>N/A</td>#}
                    <td>{{ this_device.status }}</td>
                    <td>{{ this_device.sensor_type }}</td>
                </tr>
        {% endfor %}
      </tbody>
    </table>
{% endif %}


<h4>Other logs</h4>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Service</th>
      <th>Logfile</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Fermentrack (Web Application)</th>
      <td><a href="{% url "get_app_log" "text" "fermentrack" "stderr" %}">{% log_file_path "fermentrack" "stderr" %}</a></td>
    </tr>
    <tr>
      <th scope="row">Process Spawner (BrewPi-Script, Tilt Daemon, etc.)</th>
      <td><a href="{% url "get_app_log" "text" "spawner" "stderr" %}">{% log_file_path "spawner" "stderr" %}</a></td>
    </tr>
    <tr> {# TODO - Delete this once debugging is complete #}
      <th scope="row">iSpindel Raw Output</th>
      <td><a href="{% url "get_app_log" "text" "ispindel" "stderr" %}">{% log_file_path "ispindel" "stderr" %}</a></td>
    </tr>
    <tr>
      <th scope="row">Upgrade Log</th>
      <td><a href="{% url "get_app_log" "text" "upgrade" "stderr" %}">{% log_file_path "upgrade" "stderr" %}</a></td>
    </tr>
  </tbody>
</table>

{% endblock %}

{% block scripts %}{% endblock %}
