{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}

{# I'm converting this form so that it can be used in both the initial guided setup as well as when the user clicks #}
{# the "gear" icon in the upper right of the form #}

{% block title %}App Settings{% endblock %}

{% block content %}

<h1 class="page-header">App Configuration</h1>


        <h3 class="form-header">Configuration Tools</h3>
        <a href="/admin/" class="btn btn-large btn-lg btn-primary">Django Admin Panel</a>
        <a href="{% url 'github_trigger_upgrade' %}" class="btn btn-large btn-lg btn-primary">Update from GitHub</a>

{# Setting this as an include so we can reuse it on our site settings page #}
{% include 'setup/constance_app_configuration.html' %}

{# Load the push targets list template from the external_push app #}
{% include 'external_push/push_target_list_embeddable.html' %}


{% endblock %}

{% block scripts %}
<script>

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>
{% endblock %}
