{# TODO - Delete this before release #}
{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}

{% block title %}Temp Panel Test{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-6" style="padding-left: 40px; padding-right: 40px;">
        {% temp_panel "Legacy 2" 59.4 62.0 %}
    </div>

    <div class="col-sm-6" style="padding-left: 40px; padding-right: 40px;">
        {% temp_panel "Legacy Pro" 33.4 34.0 %}
    </div>
</div>


{% endblock %}


{% block scripts %}
{% load static %}
    <script type="text/javascript" src="{% static "vendor/vue/js/vue.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/lcd.js" %}"></script>
{% endblock %}